BASES NT

Concatenação das bases de dados

In [92]:
import pandas as pd
import pandas

# Carrega os DataFrames dos arquivos Excel de 2022 e 2023
df22 = pd.read_excel('c:\\Users\\caiobarreto\\Downloads\\Relatório_NT_2022.xlsx')
df23 = pd.read_excel('c:\\Users\\caiobarreto\\Downloads\\Relatório_NT_2023.xlsx')
# Concatena os DataFrames
df = pd.concat([df22, df23])
# Define o caminho do arquivo de saída para o DataFrame concatenado
saida = 'c:\\Users\\caiobarreto\\Downloads\\Relatório_NT_Concatenado.xlsx'
# Salva o DataFrame concatenado em um novo arquivo Excel
df.to_excel(saida, index=False)

Retirar acentos e ç

In [93]:
from unidecode import unidecode

# Remover acentos e caracteres especiais de todas as colunas
df = df.apply(lambda x: x.map(lambda y: unidecode(str(y)) if isinstance(y, str) else y))

 Ele utiliza a função apply para aplicar uma função lambda a cada coluna do DataFrame, e dentro dessa função lambda, utiliza outra função lambda para percorrer cada valor da coluna e remover a acentuação, caso o valor seja uma string.

Padronizar formato de data e hora

In [94]:
# Padronizar o formato de data e hora
formatar = ['Data Prevista de Chegada', 'Data Prevista de Saída', 
'H.O.C.', 'Amarração','Início de Bombeio', 'Fim de Bombeio', 'Desamarração', 'H.O.S.', 'Início Primeira Amarração','Fim Primeira Amarração','Início Primeira Conexão','Fim Primeira Conexão',
'Início Primeiro Bombeio','Fim Último Bombeio','Início Última Desconexão','Fim Última Desconexão','Início Última Desamarração','Fim Última Desamarração']

for coluna in formatar:
    df[coluna] = pandas.to_datetime(df[coluna], dayfirst=True)

Remover colunas

In [95]:
# Removendo as colunas, inplace é pra não precisar reatribuir e axis 1 serve pra dizer que se trata de uma coluna
df.drop(['Classe do Navio', 'Rebocador', 'Hora Top', 'Alívio Crítico', 'Apuração Alívio Crítico', 'Volume Acumulado Perdas', 'Lifter'], inplace=True, axis=1)

Tirar duplicatas

In [96]:
# Remove as duplicatas
df=df.drop_duplicates()

Adicionando coluna ID e adicionando valor ao indice

In [97]:
# Redefinir o índice do DataFrame
df.reset_index(drop=True, inplace=True)
# Adicionando a coluna
df.insert(0,'ID',range(len(df)))

Criando coluna UEP e trocando Petrobras por P-

In [98]:
# Adicionando a coluna UEP e pegando o valor da coluna Instalação Naval
df.insert(2, 'UEP', df['Instalação Naval'].str.replace('PETROBRAS', 'P-', regex=True))

Retirar os espaços em branco antes e no fim das colunas UEP e Navio

In [99]:
# Remover espaços em branco antes e depois dos nomes nas colunas UEP e Navio
df['UEP'] = df['UEP'].str.strip()
df['Navio'] = df['Navio'].str.strip()

Transformar H.O.C em data prevista de chegada quando a diferença for >= 48 horas

In [100]:
# Calculando a diferença em horas entre as datas previstas de chegada e o H.O.C
diferenca_horas = (df['Data Prevista de Chegada'] - df['H.O.C.']).dt.total_seconds() / 3600

# Substituindo os valores de "H.O.C" onde a diferença for maior do que 48 horas (2 dias)
df.loc[diferenca_horas >= 48, 'H.O.C.'] = df['Data Prevista de Chegada']

Tirar duplicatas dos casos que possuem mesmo HOC, Instalação Naval e Navio

In [101]:
# Remover duplicatas baseadas em "H.O.C", "Instalação Naval" e "Navio"
df.drop_duplicates(subset=['H.O.C.', 'Instalação Naval', 'Navio'], inplace=True)

ALTERANDO O FORMATO DA BASE

In [102]:
# Selecionar apenas as colunas necessárias para alteração no formato do dataframe
nt_colunas = ['ID', 'H.O.C.', 'Início Primeira Amarração', 'Fim Primeira Amarração', 'Início Primeira Conexão', 'Fim Primeira Conexão', 'Início Primeiro Bombeio','Fim Último Bombeio', 'Início Última Desconexão', 'Fim Última Desconexão','Início Última Desamarração', 'Fim Última Desamarração', 'H.O.S.']

# Selecionar e definir as colunas que serão alteradas
colunas_alteradas = ['H.O.C.', 'Início Primeira Amarração', 'Fim Primeira Amarração','Início Primeira Conexão', 'Fim Primeira Conexão', 'Início Primeiro Bombeio','Fim Último Bombeio', 'Início Última Desconexão', 'Fim Última Desconexão','Início Última Desconexão', 'Fim Última Desconexão', 'Início Última Desamarração','Fim Última Desamarração', 'H.O.S.']
# Usar o método melt para transformar as colunas em registros
df_transformado = pd.melt(df[nt_colunas], id_vars=['ID'], value_vars=colunas_alteradas, var_name='Ocorrência', value_name='Data')
# Selecionar apenas as colunas necessárias para a junção
colunas_restauradas = ['ID', 'Unidade Operativa', 'UEP', 'Navio', 'Volume Programado','Volume Retirado', 'Viagem', 'Destino', 'Data Prevista de Chegada','Data Prevista de Saída']
# Realizar a junção dos DataFrames usando a coluna 'ID' como chave
df_final = pd.merge(df[colunas_restauradas], df_transformado, on='ID', how='right')

pd.melt() é usado para transformar as colunas selecionadas em registros. O argumento id_vars=['ID'] indica quais colunas manter como identificadores, enquanto value_vars=colunas_alteradas especifica quais colunas devem ser transformadas em registros. As colunas "Ocorrência" e "Data" são os nomes das novas colunas geradas durante a transformação.

Ordenar a base por ID e Data

In [103]:
# Ordenar o DataFrame final por 'ID' e 'Data'
df_final = df_final.sort_values(by=['ID', 'Data'])

Adicionar os respectivos valores às colunas ‘Início’ e ‘Término’ de cada ocorrência

In [104]:
# Adicionar as colunas 'Início' e 'Término' com base nas datas da ocorrência e da próxima ocorrência para o mesmo ID
df_final['Início'] = df_final['Data']
# Obter o valor da próxima linha na coluna "Início"
df_final['Término'] = df_final['Início'].shift(-1)

Excluir as colunas com “Ocorrência” = ”Fim”

In [105]:
# Filtrar as linhas em que a "Ocorrência" contém a palavra "Fim" e obter seus índices
indices_para_remover = df_final[df_final['Ocorrência'].str.contains('Fim')].index
# Remover as linhas correspondentes aos índices obtidos
df_final.drop(indices_para_remover, inplace=True)

Renomear as colunas de Início

In [106]:
# Retirar a palavra Início da ocorrência
df_final['Ocorrência'] = df_final['Ocorrência'].str.replace('Início ', '')

Remover a coluna data

In [107]:
# Removendo as colunas, inplace é pra não precisar reatribuir e axis 1 serve pra dizer que se trata de uma coluna
df_final.drop(['Data'],inplace=True, axis=1)

BASE INTERRUPÇÕES

Importar Base Interrupções

In [108]:
dfInt = pd.read_excel("c:\\Users\\caiobarreto\\Downloads\\eventos_operacoes_interrupcoes2.xlsx")

Filtrar somente as que tiveram interrupções

In [109]:
# Filtrar apenas as linhas em que 'Duração Interrupção' é maior que zero e reatribuir ao DataFrame dfInt
dfInt = dfInt[dfInt['Duração Interrupção'] > 0]

Retirando Acento e Ç

In [110]:
dfInt = dfInt.apply(lambda x: x.map(lambda y: unidecode(str(y)) if isinstance(y, str) else y))

Criando coluna UEP

In [111]:
# Adicionando a coluna UEP 
dfInt.insert(2, 'UEP', dfInt['INNA_SG_INSTALACAO_NAVAL'].str.replace('PETROBRAS', 'P-', regex=True))

Alterando nomes das categorias da coluna UEP

In [112]:
# Faz um dicionário com os nomes a serem mudados na UEP
trocaNomes = {
    'FPBAR': 'FPSO Almirante Barroso',
    'FPCGZ': 'FPSO Campos dos Goytacases MV29',
    'CAPX': 'FPSO Capixaba',
    'FPCRC': 'FPSO CARIOCA MV30',
    'FPNIT': 'FPSO Cid. Niteroi MV18',
    'CDAN': 'FPSO Cidade de Anchieta',
    'FPCAR': 'FPSO Cidade de Angra Reis MV22',
    'FPCIB': 'FPSO Cidade de Ilhabela',
    'FPCMB': 'FPSO Cidade de Mangaratiba MV24',
    'FPCIG': 'FPSO Cidade de Itaguai MV26',
    'FPCMC': 'FPSO Cidade de Marica',
    'FPCPY': 'FPSO Cidade de Paraty',
    'FPCST': 'FPSO Cidade de Santos MV20',
    'FPCSQ': 'FPSO Cidade de Saquarema',
    'FPCSP': 'FPSO Cidade Sao Paulo MV23',
    'FPGNB': 'FPSO Guanabara - MV31',
    'FPPLB': 'FPSO Pioneiro de Libra',
    'FSME': 'FSO Cidade de Macae - MV15'
}

# Faz a troca dos nomes da UEP utilizando o replace
dfInt['UEP'] = dfInt['UEP'].replace(trocaNomes)

Renomear as colunas para ficar com a mesma nomenclatura que a base NT

In [113]:
# Definindo o dicionário para renomear as colunas
nomeColunas = {
    'OPOF_CD_VIAGEM': 'Viagem',
    'OPOF_NM_NAVIO': 'Navio',
    'OPOF_NM_DESTINO': 'Destino',
    'EOOF_IN_TIPO': 'TIPO_INTERRUPCAO',
    'Duração Interrupção': 'DURACAO_INTERRUPCAO',
    'EOOF_DT_REALIZADA': 'INICIO_INTERRUPCAO',
    'EOOF_DT_FIM': 'FIM_INTERRUPCAO',
    'OPOF_DT_ENTRADA_PREVISTA': 'Data Prevista de Chegada',
    'OPOF_DT_SAIDA_PREVISTA': 'Data Prevista de Saída'
}

# Renomeando as colunas conforme o dicionário 
dfInt.rename(columns=nomeColunas, inplace=True)

Retirar o espaço do inicio e final das colunas Navio e UEP

In [114]:
# Remover espaços em branco antes e depois dos nomes nas colunas UEP e Navio
dfInt['UEP'] = dfInt['UEP'].str.strip()
dfInt['Navio'] = dfInt['Navio'].str.strip()

Selecionar apenas as colunas que interessam

In [115]:
# Selecionar apenas as colunas necessárias do DataFrame dfInt
colunasSel = dfInt[['UEP', 'Viagem', 'Navio', 'Destino', 'TIPO_INTERRUPCAO', 'DURACAO_INTERRUPCAO', 'INICIO_INTERRUPCAO', 'FIM_INTERRUPCAO', 'Data Prevista de Chegada', 'Data Prevista de Saída']]

JUNTAR BASE DE INTERRUPÇÕES COM A DE NAVIO TANQUE

In [116]:
# Junção das bases de interrupções e NT
dfUni = pd.merge(df_final, colunasSel, on=['UEP', 'Viagem', 'Navio', 'Destino', 'Data Prevista de Chegada', 'Data Prevista de Saída'], how='left')
dfUni

,ID,Unidade Operativa,UEP,Navio,Volume Programado,Volume Retirado,Viagem,Destino,Data Prevista de Chegada,Data Prevista de Saída,Ocorrência,Início,Término,TIPO_INTERRUPCAO,DURACAO_INTERRUPCAO,INICIO_INTERRUPCAO,FIM_INTERRUPCAO
0,0,UN-BS,P- 67,FORTALEZA KNUTSEN,80000,81382.81,423 TA,T.B.N.,2022-04-27 12:00:00,2022-04-28 09:30:00,H.O.C.,2022-04-27 03:00:00,2022-04-27 09:04:00,NaN,NaN,NaT,NaT
1,0,UN-BS,P- 67,FORTALEZA KNUTSEN,80000,81382.81,423 TA,T.B.N.,2022-04-27 12:00:00,2022-04-28 09:30:00,Primeira Amarração,2022-04-27 09:04:00,2022-04-27 09:35:00,NaN,NaN,NaT,NaT
2,0,UN-BS,P- 67,FORTALEZA KNUTSEN,80000,81382.81,423 TA,T.B.N.,2022-04-27 12:00:00,2022-04-28 09:30:00,Primeira Conexão,2022-04-27 09:40:00,2022-04-27 10:11:00,NaN,NaN,NaT,NaT
3,0,UN-BS,P- 67,FORTALEZA KNUTSEN,80000,81382.81,423 TA,T.B.N.,2022-04-27 12:00:00,2022-04-28 09:30:00,Primeiro Bombeio,2022-04-27 12:00:00,2022-04-28 07:00:00,NaN,NaN,NaT,NaT
4,0,UN-BS,P- 67,FORTALEZA KNUTSEN,80000,81382.81,423 TA,T.B.N.,2022-04-27 12:00:00,2022-04-28 09:30:00,Última Desconexão,2022-04-28 08:30:00,2022-04-28 08:55:00,NaN,NaN,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22661,3225,UN-BUZ,P- 76,ELKA LEBLON,80000,81372.15,402 TA,T.B.N.,2023-07-31 13:00:00,2023-08-01 18:00:00,Primeira Conexão,2023-07-31 16:30:00,2023-07-31 17:48:00,NaN,NaN,NaT,NaT
22662,3225,UN-BUZ,P- 76,ELKA LEBLON,80000,81372.15,402 TA,T.B.N.,2023-07-31 13:00:00,2023-08-01 18:00:00,Primeiro Bombeio,2023-07-31 19:06:00,2023-08-01 12:42:00,NaN,NaN,NaT,NaT
22663,3225,UN-BUZ,P- 76,ELKA LEBLON,80000,81372.15,402 TA,T.B.N.,2023-07-31 13:00:00,2023-08-01 18:00:00,Última Desconexão,2023-08-01 14:48:00,2023-08-01 15:36:00,NaN,NaN,NaT,NaT
22664,3225,UN-BUZ,P- 76,ELKA LEBLON,80000,81372.15,402 TA,T.B.N.,2023-07-31 13:00:00,2023-08-01 18:00:00,Última Desamarração,2023-08-01 15:37:00,2023-08-01 16:12:00,NaN,NaN,NaT,NaT
22665,3225,UN-BUZ,P- 76,ELKA LEBLON,80000,81372.15,402 TA,T.B.N.,2023-07-31 13:00:00,2023-08-01 18:00:00,H.O.S.,2023-08-01 18:00:00,NaT,NaN,NaN,NaT,NaT

Restringir as características de interrupção apenas aos bombeios

In [117]:
# Substituir valor da coluna 'TIPO_INTERRUPCAO' por 'Interrupção Bombeio' onde 'Ocorrência' contém 'Bombeio' e 'TIPO_INTERRUPCAO' = 'B005', caso contrário, substituir por ''
condicao_1 = (dfUni['Ocorrência'].str.contains('Bombeio')) & (dfUni['TIPO_INTERRUPCAO'] == 'B005')
dfUni.loc[condicao_1, 'TIPO_INTERRUPCAO'] = 'Interrupção Bombeio'
dfUni.loc[~condicao_1, 'TIPO_INTERRUPCAO'] = ''

# Manter valor da coluna 'DURACAO_INTERRUPCAO' onde 'Ocorrência' contém 'Bombeio' e 'DURACAO_INTERRUPCAO' > 0
condicao_2 = (dfUni['Ocorrência'].str.contains('Bombeio')) & (dfUni['DURACAO_INTERRUPCAO'] > 0)
dfUni.loc[condicao_2, 'DURACAO_INTERRUPCAO'] = dfUni.loc[condicao_2, 'DURACAO_INTERRUPCAO']
dfUni.loc[~condicao_2, 'TIPO_INTERRUPCAO'] = ''

# Manter valor da coluna 'INICIO_INTERRUPCAO' onde 'Ocorrência' contém 'Bombeio' e 'TIPO_INTERRUPCAO' = 'Interrupção Bombeio'
condicao_3 = (dfUni['Ocorrência'].str.contains('Bombeio')) & (dfUni['TIPO_INTERRUPCAO'] == 'Interrupção Bombeio')
dfUni.loc[condicao_3, 'INICIO_INTERRUPCAO'] = dfUni.loc[condicao_3, 'INICIO_INTERRUPCAO']
dfUni.loc[~condicao_3, 'TIPO_INTERRUPCAO'] = ''

# Manter valor da coluna 'FIM_INTERRUPCAO' onde 'Ocorrência' contém 'Bombeio' e 'TIPO_INTERRUPCAO' = 'Interrupção Bombeio'
condicao_4 = (dfUni['Ocorrência'].str.contains('Bombeio')) & (dfUni['TIPO_INTERRUPCAO'] == 'Interrupção Bombeio')
dfUni.loc[condicao_4, 'FIM_INTERRUPCAO'] = dfUni.loc[condicao_4, 'FIM_INTERRUPCAO']
dfUni.loc[~condicao_4, 'TIPO_INTERRUPCAO'] = ''

Duplicas as linhas em que acontece as interrupções e resetar os índices

In [118]:
df_filtered = dfUni[dfUni['TIPO_INTERRUPCAO'].notna()]
df_resultado = pandas.concat([dfUni, df_filtered], ignore_index=True)
df_resultado.reset_index(drop=True, inplace=True)
lista_remover = []
for i, row in df_resultado.iterrows():
    if i < len(df_resultado)-2:
        linha_atual = df_resultado.iloc[i]
        linha_seguinte = df_resultado.iloc[i+1]
        linha_seguinte_seguinte = df_resultado.iloc[i+2]
        if ((linha_atual['ID'] == linha_seguinte['ID'] and linha_atual['TIPO_INTERRUPCAO'] == "Interrupção Bombeio")) and ((linha_seguinte['ID'] == linha_seguinte_seguinte['ID'] and linha_seguinte['TIPO_INTERRUPCAO'] == "Interrupção Bombeio")):
            lista_remover.append(linha_seguinte_seguinte.name)

Ordenar por ID e Início

In [119]:
# Ordenar por ID e início
df_resultado.sort_values(by=['ID', 'Início','INICIO_INTERRUPCAO'], inplace=True)

Se o inicio da interrupção for antes do bombeio, substituir o valor de inicio da interrupção pelo valor de inicio do bombeio, o mesmo acontece para as datas de fim, se o fim da interrupção for depois do fim do bombeio, substituir o fim da interrupção com o valor de fim do bombeio

In [120]:
import numpy as np

# Verificar se TIPO_INTERRUPCAO está vazio e substituir os valores das outras colunas
condicao = df_resultado['TIPO_INTERRUPCAO'] == ''
df_resultado.loc[condicao, ['DURACAO_INTERRUPCAO', 'INICIO_INTERRUPCAO', 'FIM_INTERRUPCAO']] = np.nan

# Substituir o início da interrupção pelo valor de início do bombeio onde necessário
df_resultado.loc[df_resultado['INICIO_INTERRUPCAO'] < df_resultado['Início'], 'INICIO_INTERRUPCAO'] = df_resultado['Início']

# Substituir o fim da interrupção pelo valor de fim do bombeio onde necessário
df_resultado.loc[df_resultado['FIM_INTERRUPCAO'] > df_resultado['Término'], 'FIM_INTERRUPCAO'] = df_resultado['Término']

Alterar as datas de término da primeira interrupção e início da segunda interrupção dentro de um mesmo id

In [121]:
# Verificar se TIPO_INTERRUPCAO de linhas consecutivas são iguais a "Interrupção Bombeio"
condicao_1 = (df_resultado['TIPO_INTERRUPCAO'].shift() == 'Interrupção Bombeio') & (df_resultado['TIPO_INTERRUPCAO'] == 'Interrupção Bombeio')
# Verificar se DURACAO_INTERRUPCAO de linhas consecutivas são diferentes
condicao_2 = (df_resultado['TIPO_INTERRUPCAO'].shift() == 'Interrupção Bombeio') & (df_resultado['TIPO_INTERRUPCAO'] == 'Interrupção Bombeio') & (df_resultado['DURACAO_INTERRUPCAO'].shift() != df_resultado['DURACAO_INTERRUPCAO'])
# Atualizar as datas conforme as condições especificadas
df_resultado.loc[condicao_1, 'Término'] = df_resultado['INICIO_INTERRUPCAO'].shift(-1)
df_resultado.loc[condicao_1, 'Início'] = df_resultado['FIM_INTERRUPCAO']
df_resultado.loc[condicao_2, 'Início'] = df_resultado['FIM_INTERRUPCAO']

Retirar os casos com bombeio instantâneo

In [122]:
for indice,linha in df_resultado.iterrows():
    if linha['Início'] == linha['Término']:
       df_resultado.drop(index=indice)

Para a ocorrência H.O.S. trocar os términos que estão vazios pelos inícios, pois o H.O.S. é sempre 
instantâneo

In [123]:
# - Para a ocorrência H.O.S. trocar os términos que estão vazios pelos inícios, pois o H.O.S. é sempre instantâneo.
for index,linha in df_resultado.iterrows():
    if linha['Ocorrência'] == "H.O.S.":
        if type(df_resultado['Término'][index]) == pd._libs.tslibs.nattype.NaTType:
            df_resultado['Término'][index] = df_resultado["Início"][index]

C:\Users\caiobarreto\AppData\Local\Temp\ipykernel_20732\3063776645.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_resultado['Término'][index] = df_resultado["Início"][index]
C:\Users\caiobarreto\AppData\Local\Temp\ipykernel_20732\3063776645.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_resultado['Término'][index] = df_resultado["Início"][index]
C:\Users\caiobarreto\AppData\Local\Temp\ipykernel_20732\3063776645.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_resultado['Término'][index] = df_resultado["Início"][index]
C:\Users\caiobarreto\AppData\Local\Temp\ipykernel_20732\3063776645.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_resultado['Término'][index] = df_resultado["Início"][index]

Describe de cada DataFrame

In [124]:
#Base concatenada de navios tanque dos anos 2022 e 2023
for coluna in df_final.columns:
    print(df_final[coluna].describe())

count    22547.000000
mean      1610.828004
std        930.762839
min          0.000000
25%        805.000000
50%       1610.000000
75%       2416.000000
max       3225.000000
Name: ID, dtype: float64
count     22547
unique        7
top       UN-BS
freq      11389
Name: Unidade Operativa, dtype: object
count     22547
unique       44
top       P- 77
freq       1218
Name: UEP, dtype: object
count              22547
unique                59
top       EAGLE PAULINIA
freq                1127
Name: Navio, dtype: object
count     22547.000000
mean      80736.260168
std       30074.616378
min        2000.000000
25%       70000.000000
50%       79400.000000
75%       86000.000000
max      166000.000000
Name: Volume Programado, dtype: float64
count     22547.000000
mean      80271.148486
std       30273.130499
min        1990.100000
25%       70096.180000
50%       78946.000000
75%       85689.250000
max      170507.000000
Name: Volume Retirado, dtype: float64
count      22547
unique       843
top       357 TA
freq         147
Name: Viagem, dtype: object
count      22547
unique        62
top       T.B.N.
freq       12467
Name: Destino, dtype: object
count                            22547
mean     2022-10-16 05:22:29.694504960
min                2022-01-01 00:01:00
25%                2022-05-24 00:00:00
50%                2022-10-14 00:00:00
75%                2023-03-08 13:00:00
max                2023-07-31 13:00:00
Name: Data Prevista de Chegada, dtype: object
count                            22547
mean     2022-10-17 15:29:23.174169344
min                2022-01-01 23:30:00
25%                2022-05-25 12:10:00
50%                2022-10-15 09:34:00
75%                2023-03-09 23:39:34
max                2023-08-01 18:00:00
Name: Data Prevista de Saída, dtype: object
count      22547
unique         7
top       H.O.C.
freq        3221
Name: Ocorrência, dtype: object
count                            22547
mean     2022-10-16 22:45:40.688339968
min                2022-01-01 00:01:00
25%                2022-05-24 16:35:00
50%                2022-10-14 23:18:00
75%                2023-03-09 11:15:00
max                2023-08-01 18:00:00
Name: Início, dtype: object
count                            22546
mean     2022-10-16 22:07:02.687838208
min                2022-01-01 00:01:00
25%                2022-05-24 16:11:45
50%                2022-10-14 22:58:30
75%                2023-03-09 10:23:00
max                2023-08-01 16:48:00
Name: Término, dtype: object

In [125]:
#Base de interrupções
for coluna in dfInt.columns:
    print(dfInt[coluna].describe())

count      414
unique      39
top       FSME
freq        78
Name: INNA_SG_INSTALACAO_NAVAL, dtype: object
count       414.000000
mean      81346.437198
std       12865.269127
min       59559.000000
25%       70348.250000
50%       81016.000000
75%       92166.250000
max      104136.000000
Name: EOOF_SQ_EVENTO_OPER_OFFLOAD, dtype: float64
count                            414
unique                            39
top       FSO Cidade de Macae - MV15
freq                              78
Name: UEP, dtype: object
count     414
unique      2
top         S
freq      395
Name: EOOF_IN_ATIVO, dtype: object
count      414.000000
mean     10667.157005
std       1000.736541
min       8971.000000
25%       9826.500000
50%      10642.000000
75%      11513.750000
max      12431.000000
Name: OPOF_SQ_OPERACAO, dtype: float64
count      414
unique       1
top       B005
freq       414
Name: TIPO_INTERRUPCAO, dtype: object
count    414.000000
mean       4.809219
std       10.047754
min        0.016667
25%        0.500000
50%        1.325000
75%        4.575000
max       92.566667
Name: DURACAO_INTERRUPCAO, dtype: float64
count                              414
mean     2022-10-06 14:55:30.869565184
min                2022-01-01 00:00:00
25%                2022-05-17 00:27:15
50%                2022-10-01 09:31:00
75%                2023-02-21 13:03:00
max                2023-07-27 00:56:00
Name: INICIO_INTERRUPCAO, dtype: object
count                              414
mean     2022-10-06 19:44:04.057970688
min                2022-01-01 00:24:00
25%                2022-05-17 13:22:30
50%                2022-10-01 12:26:00
75%                2023-02-21 16:34:30
max                2023-07-27 01:30:00
Name: FIM_INTERRUPCAO, dtype: object
count      414
unique      35
top       F8BT
freq        33
Name: EOOF_CD_RESPONSAVEL, dtype: object
count     356
unique    335
top         -
freq        4
Name: EOOF_TX_OBSERVACAO, dtype: object
count    414.000000
mean      13.797101
std        5.800759
min        1.000000
25%       12.000000
50%       18.000000
75%       18.000000
max       18.000000
Name: MEOF_SQ_MOTIVO_EVENT_OFFLOAD, dtype: float64
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: EOOF_NM_ARQUIVO_ARMAZENAMENTO, dtype: float64
count      414.000000
mean     10667.157005
std       1000.736541
min       8971.000000
25%       9826.500000
50%      10642.000000
75%      11513.750000
max      12431.000000
Name: OPOF_SQ_OPERACAO_1, dtype: float64
count     414
unique      1
top         S
freq      414
Name: OPOF_IN_ATIVO, dtype: object
count     414
unique      1
top         E
freq      414
Name: OPOF_IN_STATUS, dtype: object
count      414
unique      51
top       3392
freq        21
Name: OPOF_CD_NAVIO, dtype: object
count     414
unique      1
top        M3
freq      414
Name: OPOF_TX_UNIDADE, dtype: object
count                              414
mean     2022-10-05 15:21:19.855072512
min                2021-12-31 04:00:00
25%                2022-05-16 00:22:30
50%                2022-09-30 09:30:00
75%                2023-02-20 12:00:00
max                2023-07-26 12:00:00
Name: Data Prevista de Chegada, dtype: object
count                              414
mean     2022-10-07 13:50:13.644927744
min                2022-01-01 19:29:05
25%      2022-05-18 07:17:32.249999872
50%                2022-10-01 22:04:15
75%                2023-02-22 12:03:48
max                2023-07-27 14:03:41
Name: Data Prevista de Saída, dtype: object
count                              414
mean     2022-10-05 23:30:56.376811008
min                2021-12-31 09:25:00
25%                2022-05-16 15:22:30
50%                2022-09-30 17:40:00
75%                2023-02-21 00:33:45
max                2023-07-26 10:06:00
Name: OPOF_DT_ENTRADA, dtype: object
count                              414
mean     2022-10-07 14:10:14.782608896
min                2022-01-01 13:50:00
25%                2022-05-18 07:09:30
50%                2022-10-01 22:54:00
75%                2023-02-22 14:30:00
max                2023-07-27 14:06:00
Name: OPOF_DT_SAIDA, dtype: object
count        414
unique        31
top       T.B.N.
freq         232
Name: Destino, dtype: object
count        414
unique       234
top       438 TA
freq           7
Name: Viagem, dtype: object
count      413
unique     303
top       APOP
freq        36
Name: OPOF_CD_ESCALA, dtype: object
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: OPOF_TX_OBSERVACAO, dtype: float64
count               414
unique               49
top       EAGLE PARAISO
freq                 21
Name: Navio, dtype: object
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: OPOF_SQ_OPERACAO_ANTERIOR, dtype: float64
count    414.000000
mean     309.362319
std       80.165864
min      225.000000
25%      240.000000
50%      259.000000
75%      394.000000
max      482.000000
Name: INNA_SQ_INSTALACAO_NAVAL, dtype: float64
count                              337
mean     2022-10-04 06:13:51.869436160
min                2021-12-31 16:42:25
25%                2022-05-17 15:13:03
50%                2022-09-29 04:50:43
75%                2023-02-17 03:44:21
max                2023-07-26 19:06:27
Name: OPOF_DT_ATUALIZACAO, dtype: object
count      337.000000
mean     14413.753709
std       1877.303432
min      11206.000000
25%      12831.000000
50%      14364.000000
75%      15928.000000
max      17828.000000
Name: OPOS_SQ_OPERACAO, dtype: float64
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: OPOF_VL_VAZAO_NV_ALIVIADOR, dtype: float64
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: OPOF_IN_FAIXA_VAZAO_NV_ALIV, dtype: float64
count     414
unique     38
top
freq      363
Name: OPOF_TX_DIVERGENCIA_VOLUME, dtype: object
count                              414
mean     1999-12-04 14:10:24.975845376
min                1899-12-29 00:00:00
25%         2022-02-19 06:37:11.500000
50%                2022-07-25 13:58:14
75%      2023-01-06 18:58:17.249999872
max                2023-07-26 19:06:27
Name: OPOF_DT_CADASTRO, dtype: object
count     414
unique     21
top
freq      387
Name: OPOF_TX_MOVI_QUALIDADE_PDTO, dtype: object
count     414
unique     11
top
freq      387
Name: OPOF_TX_SUPRIMENTO_PETROLEO, dtype: object
count                              414
mean     1903-07-22 10:55:24.782608640
min                1899-12-29 00:00:00
25%                1899-12-29 00:00:00
50%                1899-12-29 00:00:00
75%                1899-12-29 00:00:00
max                2023-07-23 20:52:00
Name: OPOF_DT_TOP, dtype: object
count     414
unique      5
top         A
freq      235
Name: OPOF_IN_ESTACAO, dtype: object
count             90
unique            58
top       13,4125236
freq               4
Name: OPOF_DS_INTENSIDADE_VENTO, dtype: object
count             90
unique            56
top       16,9114428
freq               5
Name: OPOF_DS_RAJADA, dtype: object
count     90.000000
mean      91.955556
std       67.684481
min       10.000000
25%       40.000000
50%       67.000000
75%      140.000000
max      320.000000
Name: OPOF_DS_DIRECAO_VENTO, dtype: float64
count      90
unique     53
top       2,3
freq        5
Name: OPOF_DS_ALTURA_ONDA, dtype: object
count      90
unique     49
top       7,4
freq        4
Name: OPOF_DS_PERIODO_ONDA, dtype: object
count      90
unique     63
top       102
freq        4
Name: OPOF_DS_DIRECAO_ONDA, dtype: object

In [126]:
#Base final com interrupções mais navios tanque
for coluna in df_resultado.columns:
    print(df_resultado[coluna].describe())

count    45332.000000
mean      1613.673564
std        930.567314
min          0.000000
25%        808.000000
50%       1612.500000
75%       2420.000000
max       3225.000000
Name: ID, dtype: float64
count     45332
unique        7
top       UN-BS
freq      22806
Name: Unidade Operativa, dtype: object
count     45332
unique       44
top       P- 77
freq       2436
Name: UEP, dtype: object
count              45332
unique                59
top       EAGLE PAULINIA
freq                2282
Name: Navio, dtype: object
count     45332.000000
mean      80791.752316
std       30078.424007
min        2000.000000
25%       70000.000000
50%       79500.000000
75%       87000.000000
max      166000.000000
Name: Volume Programado, dtype: float64
count     45332.000000
mean      80317.156626
std       30274.292971
min        1990.100000
25%       70096.180000
50%       78959.955000
75%       86001.940000
max      170507.000000
Name: Volume Retirado, dtype: float64

count      45332
unique       843
top       357 TA
freq         294
Name: Viagem, dtype: object
count      45332
unique        62
top       T.B.N.
freq       25116
Name: Destino, dtype: object
count                            45332
mean     2022-10-16 17:33:31.669549056
min                2022-01-01 00:01:00
25%                2022-05-24 12:00:00
50%                2022-10-14 14:45:00
75%                2023-03-09 13:00:00
max                2023-07-31 13:00:00
Name: Data Prevista de Chegada, dtype: object
count                            45332
mean     2022-10-18 03:40:54.558986752
min                2022-01-01 23:30:00
25%                2022-05-25 21:08:00
50%                2022-10-16 06:05:00
75%                2023-03-10 20:30:00
max                2023-08-01 18:00:00
Name: Data Prevista de Saída, dtype: object
count      45332
unique         7
top       H.O.C.
freq        6476
Name: Ocorrência, dtype: object
count                            45332
mean     2022-10-17 10:59:47.880084480
min                2022-01-01 00:01:00
25%                2022-05-25 08:12:00
50%                2022-10-15 08:00:00
75%                2023-03-10 01:24:00
max                2023-08-01 18:00:00
Name: Início, dtype: object
count                            45183
mean     2022-10-17 13:02:22.804594688
min                2022-01-01 00:01:00
25%                2022-05-25 09:00:00
50%                2022-10-15 10:25:00
75%                2023-03-10 08:34:00
max                2023-08-01 18:00:00
Name: Término, dtype: object
count     45332
unique        2
top
freq      45000
Name: TIPO_INTERRUPCAO, dtype: object
count    332.000000
mean       3.915863
std       10.792989
min        0.016667
25%        0.366667
50%        0.900000
75%        2.200000
max       92.566667
Name: DURACAO_INTERRUPCAO, dtype: float64
count                              332
mean     2022-09-28 23:48:38.313253120
min                2022-01-05 22:50:00
25%                2022-04-26 03:18:00
50%                2022-10-01 15:25:00
75%                2023-02-19 07:50:00
max                2023-07-27 00:56:00
Name: INICIO_INTERRUPCAO, dtype: object
count                              332
mean     2022-09-29 03:40:07.951807232
min                2022-01-06 00:00:00
25%                2022-04-26 12:18:00
50%                2022-10-01 15:41:00
75%                2023-02-20 02:10:00
max                2023-07-27 01:30:00
Name: FIM_INTERRUPCAO, dtype: object

Exportar base

In [129]:
df_resultado.to_excel('c:\\Users\\caiobarreto\\Downloads\\teste.xlsx', index=False)