## Tratamento Navios Tanque Completo

### Tratamentos Iniciais

In [13]:
import pm4py
import pandas as pd
from unidecode import unidecode
import string
import datetime

In [14]:
# - Bases: ‘Relatório_NT_2023.xlsx’ e Relatório_NT_2022.xlsx’
# - Concatenar as duas bases

navioTanque1 = pd.read_excel("Arquivos\\Relatorio_NT_2022.xlsx")
navioTanque2 = pd.read_excel("Arquivos\\Relatorio_NT_2023.xlsx")

# Concatena os DataFrames
df_concatenado = pd.concat([navioTanque1, navioTanque2], ignore_index=True)

# Escreve o DataFrame concatenado em um novo arquivo Excel
df_concatenado.to_excel("Arquivos\\navios_concatenado.xlsx", index=False)
len(df_concatenado)

3285

In [15]:
# Remover acentos e substituir caracteres especiais
df_concatenado = df_concatenado.map(lambda x: unidecode(str(x)) if isinstance(x, str) else x)
len(df_concatenado)

3285

In [16]:
lFormatDate = ['Data Prevista de Chegada', 'Data Prevista de Saída', 
'H.O.C.', 'Amarração','Início de Bombeio', 'Fim de Bombeio', 'Desamarração', 'H.O.S.', 'Início Primeira Amarração','Fim Primeira Amarração','Início Primeira Conexão','Fim Primeira Conexão',
'Início Primeiro Bombeio','Fim Último Bombeio','Início Última Desconexão','Fim Última Desconexão','Início Última Desamarração','Fim Última Desamarração']

for coluna in lFormatDate:
    df_concatenado[coluna] = pd.to_datetime(df_concatenado[coluna], dayfirst=True)

print(len(df_concatenado))

3285

In [17]:
df_concatenado.reset_index()
for indice, linha in df_concatenado.iterrows():
    df_concatenado.at[indice, 'TNP_Amarracao_Conexao'] = (linha['Início Primeira Conexão'] - linha['Fim Primeira Amarração']).total_seconds() / (60 * 60)
    df_concatenado.at[indice, 'TNP_Bombeio_Desconexao'] = (linha['Início Última Desconexão'] - linha['Fim Último Bombeio']).total_seconds() / (60 * 60)
    df_concatenado.at[indice, 'TNP_H.O.C_Amarracao'] = (linha['Amarração'] - linha['H.O.C.']).total_seconds() / (60 * 60)
    df_concatenado.at[indice, 'TNP_Conexao_Bombeio'] = (linha['Início Primeiro Bombeio'] - linha['Fim Primeira Conexão']).total_seconds() / (60 * 60)
    df_concatenado.at[indice, 'TNP_Desamarracao_HOS'] = (linha['H.O.S.'] - linha['Fim Última Desamarração']).total_seconds() / (60 * 60)

df_concatenado

,Unidade Operativa,Instalação Naval,Navio,Volume Programado,Data Prevista de Chegada,Data Prevista de Saída,Viagem,Destino,H.O.C.,Amarração,...,Hora Top,Alívio Crítico,Apuração Alívio Crítico,Volume Acumulado Perdas,Lifter,TNP_Amarracao_Conexao,TNP_Bombeio_Desconexao,TNP_H.O.C_Amarracao,TNP_Conexao_Bombeio,TNP_Desamarracao_HOS
0,UN-BS,PETROBRAS 67,FORTALEZA KNUTSEN,80000,2022-04-27 12:00:00,2022-04-28 09:30:00,423 TA,T.B.N.,2022-04-27 03:00:00,2022-04-27 09:04:00,...,28/04/2022 12:43:00,48h,NaN,0,NaN,0.083333,1.500000,6.066667,1.816667,0.166667
1,BUZIOS,PETROBRAS 77,EAGLE PAULINIA,80000,2022-07-25 12:00:00,2022-07-26 12:30:00,102 TA,T.B.N.,2022-07-25 12:00:00,2022-07-25 15:12:00,...,26/07/2022 21:32:14,48h,NaN,0,NaN,0.300000,1.800000,3.200000,2.050000,0.333333
2,UN-BS,FPSO Cidade de Saquarema,DAN SABIA,60000,2022-05-11 12:00:00,2022-05-12 11:00:00,315 TA,T.B.N.,2022-05-11 08:30:00,2022-05-11 15:40:00,...,14/05/2022 23:27:00,OK,NaN,0,NaN,0.250000,1.933333,7.166667,2.500000,1.166667
3,UN-ES,FSO Cidade de Macae - MV15,TOVE KNUTSEN,80000,2022-05-11 14:00:00,2022-05-12 16:00:00,-,CARGA EQUINOR,2022-05-11 06:00:00,2022-05-11 15:00:00,...,18/07/2022 13:02:04,OK,NaN,0,NaN,0.016667,3.000000,9.000000,1.133333,0.200000
4,UN-ES,FSO Cidade de Macae - MV15,TOVE KNUTSEN,80000,2022-05-11 14:00:00,2022-05-12 16:00:00,-,CARGA EQUINOR,2022-05-11 06:00:00,2022-05-11 15:00:00,...,18/07/2022 13:02:04,OK,NaN,0,NaN,0.016667,3.000000,9.000000,1.133333,0.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3280,UN-BS,PETROBRAS 66,NT LISBOA,76000,2023-07-31 00:00:00,2023-08-01 04:06:00,PG043,CARGA PETROGAL,2023-07-30 00:01:00,2023-07-31 01:00:00,...,02/08/2023 02:57:57,OK,NaN,0,NaN,0.016667,1.300000,24.983333,3.000000,0.500000
3281,UN-ES,FSO Cidade de Macae - MV15,EAGLE CAMBE,151000,2023-07-31 03:01:00,2023-08-01 15:23:45,055 TA,T.B.N.,2023-07-30 20:00:00,2023-07-30 23:32:00,...,01/08/2023 21:08:55,OK,NaN,0,NaN,0.200000,2.383333,3.533333,1.333333,0.333333
3282,UN-ES,PETROBRAS 58,ANGRA DOS REIS,70000,2023-07-31 08:00:00,2023-08-01 16:00:00,429 TA,T.B.N.,2023-07-31 14:00:00,2023-07-31 19:20:00,...,04/08/2023 20:09:04,OK,NaN,0,NaN,0.166667,0.666667,5.333333,1.583333,0.166667
3283,UN-BS,FPSO Cidade de Marica,EAGLE PAULINIA,155000,2023-07-31 08:00:00,2023-08-01 16:55:00,155 TA,T.B.N.,2023-07-31 09:00:00,2023-07-31 12:25:00,...,02/08/2023 15:27:49,OK,NaN,0,NaN,0.166667,0.833333,3.416667,2.000000,0.116667
3284,UN-BUZ,PETROBRAS 76,ELKA LEBLON,80000,2023-07-31 13:00:00,2023-08-01 18:00:00,402 TA,T.B.N.,2023-07-31 11:30:00,2023-07-31 15:13:00,...,02/08/2023 13:09:23,OK,NaN,0,NaN,0.050000,2.100000,3.716667,1.300000,1.800000

In [18]:
df_concatenado.drop(columns=["Classe do Navio","Rebocador","Hora Top","Alívio Crítico","Apuração Alívio Crítico","Volume Acumulado Perdas","Lifter"])
df_concatenado

,Unidade Operativa,Instalação Naval,Navio,Volume Programado,Data Prevista de Chegada,Data Prevista de Saída,Viagem,Destino,H.O.C.,Amarração,...,Hora Top,Alívio Crítico,Apuração Alívio Crítico,Volume Acumulado Perdas,Lifter,TNP_Amarracao_Conexao,TNP_Bombeio_Desconexao,TNP_H.O.C_Amarracao,TNP_Conexao_Bombeio,TNP_Desamarracao_HOS
0,UN-BS,PETROBRAS 67,FORTALEZA KNUTSEN,80000,2022-04-27 12:00:00,2022-04-28 09:30:00,423 TA,T.B.N.,2022-04-27 03:00:00,2022-04-27 09:04:00,...,28/04/2022 12:43:00,48h,NaN,0,NaN,0.083333,1.500000,6.066667,1.816667,0.166667
1,BUZIOS,PETROBRAS 77,EAGLE PAULINIA,80000,2022-07-25 12:00:00,2022-07-26 12:30:00,102 TA,T.B.N.,2022-07-25 12:00:00,2022-07-25 15:12:00,...,26/07/2022 21:32:14,48h,NaN,0,NaN,0.300000,1.800000,3.200000,2.050000,0.333333
2,UN-BS,FPSO Cidade de Saquarema,DAN SABIA,60000,2022-05-11 12:00:00,2022-05-12 11:00:00,315 TA,T.B.N.,2022-05-11 08:30:00,2022-05-11 15:40:00,...,14/05/2022 23:27:00,OK,NaN,0,NaN,0.250000,1.933333,7.166667,2.500000,1.166667
3,UN-ES,FSO Cidade de Macae - MV15,TOVE KNUTSEN,80000,2022-05-11 14:00:00,2022-05-12 16:00:00,-,CARGA EQUINOR,2022-05-11 06:00:00,2022-05-11 15:00:00,...,18/07/2022 13:02:04,OK,NaN,0,NaN,0.016667,3.000000,9.000000,1.133333,0.200000
4,UN-ES,FSO Cidade de Macae - MV15,TOVE KNUTSEN,80000,2022-05-11 14:00:00,2022-05-12 16:00:00,-,CARGA EQUINOR,2022-05-11 06:00:00,2022-05-11 15:00:00,...,18/07/2022 13:02:04,OK,NaN,0,NaN,0.016667,3.000000,9.000000,1.133333,0.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3280,UN-BS,PETROBRAS 66,NT LISBOA,76000,2023-07-31 00:00:00,2023-08-01 04:06:00,PG043,CARGA PETROGAL,2023-07-30 00:01:00,2023-07-31 01:00:00,...,02/08/2023 02:57:57,OK,NaN,0,NaN,0.016667,1.300000,24.983333,3.000000,0.500000
3281,UN-ES,FSO Cidade de Macae - MV15,EAGLE CAMBE,151000,2023-07-31 03:01:00,2023-08-01 15:23:45,055 TA,T.B.N.,2023-07-30 20:00:00,2023-07-30 23:32:00,...,01/08/2023 21:08:55,OK,NaN,0,NaN,0.200000,2.383333,3.533333,1.333333,0.333333
3282,UN-ES,PETROBRAS 58,ANGRA DOS REIS,70000,2023-07-31 08:00:00,2023-08-01 16:00:00,429 TA,T.B.N.,2023-07-31 14:00:00,2023-07-31 19:20:00,...,04/08/2023 20:09:04,OK,NaN,0,NaN,0.166667,0.666667,5.333333,1.583333,0.166667
3283,UN-BS,FPSO Cidade de Marica,EAGLE PAULINIA,155000,2023-07-31 08:00:00,2023-08-01 16:55:00,155 TA,T.B.N.,2023-07-31 09:00:00,2023-07-31 12:25:00,...,02/08/2023 15:27:49,OK,NaN,0,NaN,0.166667,0.833333,3.416667,2.000000,0.116667
3284,UN-BUZ,PETROBRAS 76,ELKA LEBLON,80000,2023-07-31 13:00:00,2023-08-01 18:00:00,402 TA,T.B.N.,2023-07-31 11:30:00,2023-07-31 15:13:00,...,02/08/2023 13:09:23,OK,NaN,0,NaN,0.050000,2.100000,3.716667,1.300000,1.800000

In [19]:
df_concatenado = df_concatenado.drop_duplicates()
df_concatenado

,Unidade Operativa,Instalação Naval,Navio,Volume Programado,Data Prevista de Chegada,Data Prevista de Saída,Viagem,Destino,H.O.C.,Amarração,...,Hora Top,Alívio Crítico,Apuração Alívio Crítico,Volume Acumulado Perdas,Lifter,TNP_Amarracao_Conexao,TNP_Bombeio_Desconexao,TNP_H.O.C_Amarracao,TNP_Conexao_Bombeio,TNP_Desamarracao_HOS
0,UN-BS,PETROBRAS 67,FORTALEZA KNUTSEN,80000,2022-04-27 12:00:00,2022-04-28 09:30:00,423 TA,T.B.N.,2022-04-27 03:00:00,2022-04-27 09:04:00,...,28/04/2022 12:43:00,48h,NaN,0,NaN,0.083333,1.500000,6.066667,1.816667,0.166667
1,BUZIOS,PETROBRAS 77,EAGLE PAULINIA,80000,2022-07-25 12:00:00,2022-07-26 12:30:00,102 TA,T.B.N.,2022-07-25 12:00:00,2022-07-25 15:12:00,...,26/07/2022 21:32:14,48h,NaN,0,NaN,0.300000,1.800000,3.200000,2.050000,0.333333
2,UN-BS,FPSO Cidade de Saquarema,DAN SABIA,60000,2022-05-11 12:00:00,2022-05-12 11:00:00,315 TA,T.B.N.,2022-05-11 08:30:00,2022-05-11 15:40:00,...,14/05/2022 23:27:00,OK,NaN,0,NaN,0.250000,1.933333,7.166667,2.500000,1.166667
3,UN-ES,FSO Cidade de Macae - MV15,TOVE KNUTSEN,80000,2022-05-11 14:00:00,2022-05-12 16:00:00,-,CARGA EQUINOR,2022-05-11 06:00:00,2022-05-11 15:00:00,...,18/07/2022 13:02:04,OK,NaN,0,NaN,0.016667,3.000000,9.000000,1.133333,0.200000
5,UN-BS,FPSO Cidade de Ilhabela,EAGLE CAMPOS,79100,2022-05-11 00:00:00,2022-05-12 12:18:00,SH121,CARGA SHELL,2022-05-11 06:00:00,2022-05-11 15:56:00,...,13/05/2022 10:26:50,OK,NaN,0,NaN,0.250000,2.583333,9.933333,1.733333,0.150000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3280,UN-BS,PETROBRAS 66,NT LISBOA,76000,2023-07-31 00:00:00,2023-08-01 04:06:00,PG043,CARGA PETROGAL,2023-07-30 00:01:00,2023-07-31 01:00:00,...,02/08/2023 02:57:57,OK,NaN,0,NaN,0.016667,1.300000,24.983333,3.000000,0.500000
3281,UN-ES,FSO Cidade de Macae - MV15,EAGLE CAMBE,151000,2023-07-31 03:01:00,2023-08-01 15:23:45,055 TA,T.B.N.,2023-07-30 20:00:00,2023-07-30 23:32:00,...,01/08/2023 21:08:55,OK,NaN,0,NaN,0.200000,2.383333,3.533333,1.333333,0.333333
3282,UN-ES,PETROBRAS 58,ANGRA DOS REIS,70000,2023-07-31 08:00:00,2023-08-01 16:00:00,429 TA,T.B.N.,2023-07-31 14:00:00,2023-07-31 19:20:00,...,04/08/2023 20:09:04,OK,NaN,0,NaN,0.166667,0.666667,5.333333,1.583333,0.166667
3283,UN-BS,FPSO Cidade de Marica,EAGLE PAULINIA,155000,2023-07-31 08:00:00,2023-08-01 16:55:00,155 TA,T.B.N.,2023-07-31 09:00:00,2023-07-31 12:25:00,...,02/08/2023 15:27:49,OK,NaN,0,NaN,0.166667,0.833333,3.416667,2.000000,0.116667
3284,UN-BUZ,PETROBRAS 76,ELKA LEBLON,80000,2023-07-31 13:00:00,2023-08-01 18:00:00,402 TA,T.B.N.,2023-07-31 11:30:00,2023-07-31 15:13:00,...,02/08/2023 13:09:23,OK,NaN,0,NaN,0.050000,2.100000,3.716667,1.300000,1.800000

In [20]:
# Criando a coluna ID
df_concatenado['ID'] = range(0, len(df_concatenado))
columns = ['ID'] + [colunas for colunas in df_concatenado.columns if colunas != 'ID']
df_concatenado = df_concatenado[columns]
df_concatenado

C:\Users\betsabenogueira\AppData\Local\Temp\ipykernel_2516\2878712154.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_concatenado['ID'] = range(0, len(df_concatenado))

,ID,Unidade Operativa,Instalação Naval,Navio,Volume Programado,Data Prevista de Chegada,Data Prevista de Saída,Viagem,Destino,H.O.C.,...,Hora Top,Alívio Crítico,Apuração Alívio Crítico,Volume Acumulado Perdas,Lifter,TNP_Amarracao_Conexao,TNP_Bombeio_Desconexao,TNP_H.O.C_Amarracao,TNP_Conexao_Bombeio,TNP_Desamarracao_HOS
0,0,UN-BS,PETROBRAS 67,FORTALEZA KNUTSEN,80000,2022-04-27 12:00:00,2022-04-28 09:30:00,423 TA,T.B.N.,2022-04-27 03:00:00,...,28/04/2022 12:43:00,48h,NaN,0,NaN,0.083333,1.500000,6.066667,1.816667,0.166667
1,1,BUZIOS,PETROBRAS 77,EAGLE PAULINIA,80000,2022-07-25 12:00:00,2022-07-26 12:30:00,102 TA,T.B.N.,2022-07-25 12:00:00,...,26/07/2022 21:32:14,48h,NaN,0,NaN,0.300000,1.800000,3.200000,2.050000,0.333333
2,2,UN-BS,FPSO Cidade de Saquarema,DAN SABIA,60000,2022-05-11 12:00:00,2022-05-12 11:00:00,315 TA,T.B.N.,2022-05-11 08:30:00,...,14/05/2022 23:27:00,OK,NaN,0,NaN,0.250000,1.933333,7.166667,2.500000,1.166667
3,3,UN-ES,FSO Cidade de Macae - MV15,TOVE KNUTSEN,80000,2022-05-11 14:00:00,2022-05-12 16:00:00,-,CARGA EQUINOR,2022-05-11 06:00:00,...,18/07/2022 13:02:04,OK,NaN,0,NaN,0.016667,3.000000,9.000000,1.133333,0.200000
5,4,UN-BS,FPSO Cidade de Ilhabela,EAGLE CAMPOS,79100,2022-05-11 00:00:00,2022-05-12 12:18:00,SH121,CARGA SHELL,2022-05-11 06:00:00,...,13/05/2022 10:26:50,OK,NaN,0,NaN,0.250000,2.583333,9.933333,1.733333,0.150000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3280,3231,UN-BS,PETROBRAS 66,NT LISBOA,76000,2023-07-31 00:00:00,2023-08-01 04:06:00,PG043,CARGA PETROGAL,2023-07-30 00:01:00,...,02/08/2023 02:57:57,OK,NaN,0,NaN,0.016667,1.300000,24.983333,3.000000,0.500000
3281,3232,UN-ES,FSO Cidade de Macae - MV15,EAGLE CAMBE,151000,2023-07-31 03:01:00,2023-08-01 15:23:45,055 TA,T.B.N.,2023-07-30 20:00:00,...,01/08/2023 21:08:55,OK,NaN,0,NaN,0.200000,2.383333,3.533333,1.333333,0.333333
3282,3233,UN-ES,PETROBRAS 58,ANGRA DOS REIS,70000,2023-07-31 08:00:00,2023-08-01 16:00:00,429 TA,T.B.N.,2023-07-31 14:00:00,...,04/08/2023 20:09:04,OK,NaN,0,NaN,0.166667,0.666667,5.333333,1.583333,0.166667
3283,3234,UN-BS,FPSO Cidade de Marica,EAGLE PAULINIA,155000,2023-07-31 08:00:00,2023-08-01 16:55:00,155 TA,T.B.N.,2023-07-31 09:00:00,...,02/08/2023 15:27:49,OK,NaN,0,NaN,0.166667,0.833333,3.416667,2.000000,0.116667
3284,3235,UN-BUZ,PETROBRAS 76,ELKA LEBLON,80000,2023-07-31 13:00:00,2023-08-01 18:00:00,402 TA,T.B.N.,2023-07-31 11:30:00,...,02/08/2023 13:09:23,OK,NaN,0,NaN,0.050000,2.100000,3.716667,1.300000,1.800000

In [21]:
# Trocar "PETROBRAS" por "p-"
for index, linha in df_concatenado.iterrows():
    novaPalavra = df_concatenado.loc[index,"Instalação Naval"].replace("PETROBRAS","p-")
    df_concatenado.loc[index,"UEP"] = novaPalavra
    
df_concatenado

C:\Users\betsabenogueira\AppData\Local\Temp\ipykernel_2516\3645134185.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_concatenado.loc[index,"UEP"] = novaPalavra

,ID,Unidade Operativa,Instalação Naval,Navio,Volume Programado,Data Prevista de Chegada,Data Prevista de Saída,Viagem,Destino,H.O.C.,...,Alívio Crítico,Apuração Alívio Crítico,Volume Acumulado Perdas,Lifter,TNP_Amarracao_Conexao,TNP_Bombeio_Desconexao,TNP_H.O.C_Amarracao,TNP_Conexao_Bombeio,TNP_Desamarracao_HOS,UEP
0,0,UN-BS,PETROBRAS 67,FORTALEZA KNUTSEN,80000,2022-04-27 12:00:00,2022-04-28 09:30:00,423 TA,T.B.N.,2022-04-27 03:00:00,...,48h,NaN,0,NaN,0.083333,1.500000,6.066667,1.816667,0.166667,p- 67
1,1,BUZIOS,PETROBRAS 77,EAGLE PAULINIA,80000,2022-07-25 12:00:00,2022-07-26 12:30:00,102 TA,T.B.N.,2022-07-25 12:00:00,...,48h,NaN,0,NaN,0.300000,1.800000,3.200000,2.050000,0.333333,p- 77
2,2,UN-BS,FPSO Cidade de Saquarema,DAN SABIA,60000,2022-05-11 12:00:00,2022-05-12 11:00:00,315 TA,T.B.N.,2022-05-11 08:30:00,...,OK,NaN,0,NaN,0.250000,1.933333,7.166667,2.500000,1.166667,FPSO Cidade de Saquarema
3,3,UN-ES,FSO Cidade de Macae - MV15,TOVE KNUTSEN,80000,2022-05-11 14:00:00,2022-05-12 16:00:00,-,CARGA EQUINOR,2022-05-11 06:00:00,...,OK,NaN,0,NaN,0.016667,3.000000,9.000000,1.133333,0.200000,FSO Cidade de Macae - MV15
5,4,UN-BS,FPSO Cidade de Ilhabela,EAGLE CAMPOS,79100,2022-05-11 00:00:00,2022-05-12 12:18:00,SH121,CARGA SHELL,2022-05-11 06:00:00,...,OK,NaN,0,NaN,0.250000,2.583333,9.933333,1.733333,0.150000,FPSO Cidade de Ilhabela
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3280,3231,UN-BS,PETROBRAS 66,NT LISBOA,76000,2023-07-31 00:00:00,2023-08-01 04:06:00,PG043,CARGA PETROGAL,2023-07-30 00:01:00,...,OK,NaN,0,NaN,0.016667,1.300000,24.983333,3.000000,0.500000,p- 66
3281,3232,UN-ES,FSO Cidade de Macae - MV15,EAGLE CAMBE,151000,2023-07-31 03:01:00,2023-08-01 15:23:45,055 TA,T.B.N.,2023-07-30 20:00:00,...,OK,NaN,0,NaN,0.200000,2.383333,3.533333,1.333333,0.333333,FSO Cidade de Macae - MV15
3282,3233,UN-ES,PETROBRAS 58,ANGRA DOS REIS,70000,2023-07-31 08:00:00,2023-08-01 16:00:00,429 TA,T.B.N.,2023-07-31 14:00:00,...,OK,NaN,0,NaN,0.166667,0.666667,5.333333,1.583333,0.166667,p- 58
3283,3234,UN-BS,FPSO Cidade de Marica,EAGLE PAULINIA,155000,2023-07-31 08:00:00,2023-08-01 16:55:00,155 TA,T.B.N.,2023-07-31 09:00:00,...,OK,NaN,0,NaN,0.166667,0.833333,3.416667,2.000000,0.116667,FPSO Cidade de Marica
3284,3235,UN-BUZ,PETROBRAS 76,ELKA LEBLON,80000,2023-07-31 13:00:00,2023-08-01 18:00:00,402 TA,T.B.N.,2023-07-31 11:30:00,...,OK,NaN,0,NaN,0.050000,2.100000,3.716667,1.300000,1.800000,p- 76

In [22]:
# - Retirando o espaço antes e no final dos nomes nas colunas UEP e Navio (pois existiam espaços aleatórios que impediriam a comparação com as outras bases).
df_concatenado.loc[:,"UEP"] = df_concatenado.loc[:,"UEP"].str.strip()
df_concatenado.loc[:,"Navio"] = df_concatenado.loc[:,"Navio"].str.strip()

In [23]:
# NOVO - Excluir os casos em que o Início da Ocorrência seguinte é menor do que o Fim da Ocorrência anterior

In [24]:
print(len(df_concatenado.columns))

49

In [25]:
# - Remover as colunas que não são importantes no momento (“Classe do Navio”, “Rebocador”, “Hora Top”, “Alívio Crítico”, “Apuração Alívio Crítico”, “Volume Acumulado Perdas”, “Lifter”) 
df_concatenado = df_concatenado.drop(columns=["Classe do Navio","Rebocador","Hora Top","Alívio Crítico","Apuração Alívio Crítico","Volume Acumulado Perdas","Lifter"])
print(len(df_concatenado.columns))

42

In [26]:
print(len(df_concatenado))

3236

In [27]:
# - Percebemos durante nossas análises que temos H.O.C repetidos e muito distantes da Amarração - isso ocorre devido a erros de preenchimento (repetiram o mesmo HOC pra viagens diferentes de um mesmo navio e plataforma) -> Considerar coluna “H.O.C”= coluna “Data Prevista de Chegada” quando o Tempo_entre_previsto_chegada >= 48horas (2 dias)
# df_concatenado['Tempo_entre_previsto_chegada'] = df_concatenado["Início Primeira Amarração"] - df_concatenado['H.O.C.']

# for i, el in df_concatenado.iterrows():
#     delta = el['Tempo_entre_previsto_chegada']
#     maximo = pd.Timedelta('2 days')
#     if delta >= maximo:
#         print(i)
#         df_concatenado.loc[i,'H.O.C.'] = el['Data Prevista de Chegada']

# Calculando a diferença em horas entre as datas previstas de chegada e o H.O.C
diferenca_horas = (df_concatenado["Início Primeira Amarração"] - df_concatenado['H.O.C.']).dt.total_seconds() / 3600

# Substituindo os valores de "H.O.C" onde a diferença for maior do que 48 horas (2 dias)
df_concatenado.loc[diferenca_horas >= 48, 'H.O.C.'] = df_concatenado['Data Prevista de Chegada']

In [28]:
print(len(df_concatenado))

3236

In [29]:
# -Tirar duplicatas dos casos que possuem mesmo HOC, Instalação Naval e Navio
# Removendo duplicadas de mesmo Navio, Instalação Naval e HOC
df_concatenado = df_concatenado.drop_duplicates(subset=['Navio', 'Instalação Naval', 'H.O.C.'])

In [30]:
print(len(df_concatenado))

3221

In [31]:
df_concatenado.describe().round(2)

,ID,Volume Programado,Data Prevista de Chegada,Data Prevista de Saída,H.O.C.,Amarração,Início de Bombeio,Fim de Bombeio,Desamarração,H.O.S.,...,Início Última Desconexão,Fim Última Desconexão,Início Última Desamarração,Fim Última Desamarração,Volume Retirado,TNP_Amarracao_Conexao,TNP_Bombeio_Desconexao,TNP_H.O.C_Amarracao,TNP_Conexao_Bombeio,TNP_Desamarracao_HOS
count,3221.00,3221.00,3221,3221,3221,3221,3221,3221,3221,3221,...,3221,3221,3221,3221,3221.00,3221.00,3221.00,3221.00,3221.00,3221.00
mean,1617.46,80730.05,2022-10-16 06:24:51.638000640,2022-10-17 16:32:53.053089280,2022-10-16 04:05:03.986339584,2022-10-16 13:26:38.503570432,2022-10-16 17:56:08.997205760,2022-10-17 12:03:05.476559872,2022-10-17 15:14:55.846010624,2022-10-17 16:02:51.040049664,...,2022-10-17 13:55:38.149643008,2022-10-17 14:32:36.063334400,2022-10-17 14:46:44.334057728,2022-10-17 15:14:55.846010624,80264.97,0.43,1.88,9.82,2.47,0.80
min,0.00,2000.00,2022-01-01 00:01:00,2022-01-01 23:30:00,2022-01-01 00:01:00,2022-01-01 03:24:00,2022-01-01 07:28:00,2022-01-01 20:48:00,2022-01-01 23:12:00,2022-01-01 23:30:00,...,2022-01-01 21:42:00,2022-01-01 21:48:00,2022-01-01 22:30:00,2022-01-01 23:12:00,1990.10,-0.02,-5.12,0.02,0.02,0.02
25%,806.00,70000.00,2022-05-24 00:00:00,2022-05-25 12:10:00,2022-05-23 15:00:00,2022-05-24 10:45:00,2022-05-24 15:02:00,2022-05-25 08:43:00,2022-05-25 11:55:00,2022-05-25 12:10:00,...,2022-05-25 10:29:00,2022-05-25 11:20:00,2022-05-25 11:28:00,2022-05-25 11:55:00,70092.00,0.07,1.20,3.50,1.60,0.25
50%,1620.00,79400.00,2022-10-14 00:00:00,2022-10-15 09:34:00,2022-10-14 05:12:00,2022-10-14 13:15:00,2022-10-14 17:00:00,2022-10-15 04:56:00,2022-10-15 09:25:00,2022-10-15 09:34:00,...,2022-10-15 06:10:00,2022-10-15 06:36:00,2022-10-15 06:52:00,2022-10-15 09:25:00,78943.54,0.20,1.52,5.00,1.98,0.33
75%,2427.00,86000.00,2023-03-09 12:00:00,2023-03-10 01:24:00,2023-03-08 12:46:00,2023-03-08 15:36:00,2023-03-08 19:18:00,2023-03-09 21:53:00,2023-03-10 01:00:00,2023-03-10 01:24:00,...,2023-03-10 00:32:00,2023-03-10 00:58:00,2023-03-10 00:59:00,2023-03-10 01:00:00,85689.25,0.33,2.00,10.73,2.53,0.50
max,3235.00,166000.00,2023-07-31 13:00:00,2023-08-01 18:00:00,2023-07-31 14:00:00,2023-07-31 19:20:00,2023-07-31 22:20:00,2023-08-01 14:52:00,2023-08-01 16:48:00,2023-08-01 18:00:00,...,2023-08-01 15:42:00,2023-08-01 16:18:00,2023-08-01 16:35:00,2023-08-01 16:48:00,170507.00,45.35,54.50,146.42,159.07,120.25
std,934.93,30080.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,30279.25,1.87,2.04,12.42,3.67,3.16

In [32]:
print(3236-3221)

15

## ALTERANDO O FORMATO DA BASE

In [33]:
# Selecionar apenas as colunas necessárias para alteração no formato do dataframe
nt_colunas = ['ID', 'H.O.C.', 'Início Primeira Amarração', 'Fim Primeira Amarração', 'Início Primeira Conexão', 'Fim Primeira Conexão', 'Início Primeiro Bombeio','Fim Último Bombeio', 'Início Última Desconexão', 'Fim Última Desconexão','Início Última Desamarração', 'Fim Última Desamarração', 'H.O.S.']
# Selecionar e definir as colunas que serão alteradas
colunas_alteradas = ['H.O.C.', 'Início Primeira Amarração', 'Fim Primeira Amarração','Início Primeira Conexão', 'Fim Primeira Conexão', 'Início Primeiro Bombeio','Fim Último Bombeio', 'Início Última Desconexão', 'Fim Última Desconexão','Início Última Desconexão', 'Fim Última Desconexão', 'Início Última Desamarração','Fim Última Desamarração', 'H.O.S.']
# Usar o método melt para transformar as colunas em registros
df_transformado = pd.melt(df_concatenado[nt_colunas], id_vars=['ID'], value_vars=colunas_alteradas, var_name='Ocorrência', value_name='Data')
# Selecionar apenas as colunas necessárias para a junção
colunas_restauradas = ['ID', 'Unidade Operativa', 'UEP', 'Navio', 'Volume Programado','Volume Retirado', 'Viagem', 'Destino', 'Data Prevista de Chegada','Data Prevista de Saída']
# Realizar a junção dos DataFrames usando a coluna 'ID' como chave
df_final = pd.merge(df_concatenado[colunas_restauradas], df_transformado, on='ID', how='right')

In [34]:
print(len(df_concatenado))

3221

In [35]:
# Ordenar o DataFrame final por 'ID' e 'Data'
df_final = df_final.sort_values(by=['ID', 'Data'])

In [36]:
print(len(df_concatenado))

3221

In [37]:
# Adicionar as colunas 'Início' e 'Término' com base nas datas da ocorrência e da próxima ocorrência para o mesmo ID
df_final['Início'] = df_final['Data']
# Obter o valor da próxima linha na coluna "Início"
df_final['Término'] = df_final['Início'].shift(-1)

In [38]:
print(len(df_concatenado))

3221

In [39]:
# Filtrar as linhas em que a "Ocorrência" contém a palavra "Fim" e obter seus índices
indices_para_remover = df_final[df_final['Ocorrência'].str.contains('Fim')].index
# Remover as linhas correspondentes aos índices obtidos
df_final.drop(indices_para_remover, inplace=True)

In [40]:
# Retirar a palavra Início da ocorrência
df_final['Ocorrência'] = df_final['Ocorrência'].str.replace('Início ', '')
df_final['Ocorrência'] = df_final['Ocorrência'].str.replace('Última ', '')
df_final['Ocorrência'] = df_final['Ocorrência'].str.replace('Primeiro ', '')
df_final['Ocorrência'] = df_final['Ocorrência'].str.replace('Primeira ', '')

In [41]:
# Removendo as colunas, inplace é pra não precisar reatribuir e axis 1 serve pra dizer que se trata de uma coluna
df_final.drop(['Data'],inplace=True, axis=1)

In [42]:
df_final.describe().round(2)

,ID,Volume Programado,Volume Retirado,Data Prevista de Chegada,Data Prevista de Saída,Início,Término
count,22547.00,22547.00,22547.00,22547,22547,22547,22546
mean,1617.46,80730.05,80264.97,2022-10-16 06:24:51.638000640,2022-10-17 16:32:53.053089024,2022-10-16 23:49:11.229875200,2022-10-16 23:10:35.665750016
min,0.00,2000.00,1990.10,2022-01-01 00:01:00,2022-01-01 23:30:00,2022-01-01 00:01:00,2022-01-01 00:01:00
25%,806.00,70000.00,70092.00,2022-05-24 00:00:00,2022-05-25 12:10:00,2022-05-24 16:35:00,2022-05-24 16:11:45
50%,1620.00,79400.00,78943.54,2022-10-14 00:00:00,2022-10-15 09:34:00,2022-10-14 23:18:00,2022-10-14 22:58:30
75%,2427.00,86000.00,85689.25,2023-03-09 12:00:00,2023-03-10 01:24:00,2023-03-09 13:10:30,2023-03-09 12:39:15
max,3235.00,166000.00,170507.00,2023-07-31 13:00:00,2023-08-01 18:00:00,2023-08-01 18:00:00,2023-08-01 16:48:00
std,934.80,30076.83,30275.22,NaN,NaN,NaN,NaN

## BASE INTERRUPÇÕES

In [43]:
dfInt = pd.read_excel("Arquivos\\eventos_operacoes_interrupcoes2.xlsx")

In [44]:
# Filtrar apenas as linhas em que 'Duração Interrupção' é maior que zero e reatribuir ao DataFrame dfInt
dfInt = dfInt[dfInt['Duração Interrupção'] > 0]

In [45]:
dfInt = dfInt.apply(lambda x: x.map(lambda y: unidecode(str(y)) if isinstance(y, str) else y))

In [46]:
# Adicionando a coluna UEP 
dfInt.insert(2, 'UEP', dfInt['INNA_SG_INSTALACAO_NAVAL'].str.replace('PETROBRAS', 'P-', regex=True))

In [47]:
# Faz um dicionário com os nomes a serem mudados na UEP
trocaNomes = {
    'FPBAR': 'FPSO Almirante Barroso',
    'FPCGZ': 'FPSO Campos dos Goytacases MV29',
    'CAPX': 'FPSO Capixaba',
    'FPCRC': 'FPSO CARIOCA MV30',
    'FPNIT': 'FPSO Cid. Niteroi MV18',
    'CDAN': 'FPSO Cidade de Anchieta',
    'FPCAR': 'FPSO Cidade de Angra Reis MV22',
    'FPCIB': 'FPSO Cidade de Ilhabela',
    'FPCMB': 'FPSO Cidade de Mangaratiba MV24',
    'FPCIG': 'FPSO Cidade de Itaguai MV26',
    'FPCMC': 'FPSO Cidade de Marica',
    'FPCPY': 'FPSO Cidade de Paraty',
    'FPCST': 'FPSO Cidade de Santos MV20',
    'FPCSQ': 'FPSO Cidade de Saquarema',
    'FPCSP': 'FPSO Cidade Sao Paulo MV23',
    'FPGNB': 'FPSO Guanabara - MV31',
    'FPPLB': 'FPSO Pioneiro de Libra',
    'FSME': 'FSO Cidade de Macae - MV15'
}

# Faz a troca dos nomes da UEP utilizando o replace
dfInt['UEP'] = dfInt['UEP'].replace(trocaNomes)

In [48]:
# Definindo o dicionário para renomear as colunas
nomeColunas = {
    'OPOF_CD_VIAGEM': 'Viagem',
    'OPOF_NM_NAVIO': 'Navio',
    'OPOF_NM_DESTINO': 'Destino',
    'EOOF_IN_TIPO': 'TIPO_INTERRUPCAO',
    'Duração Interrupção': 'DURACAO_INTERRUPCAO',
    'EOOF_DT_REALIZADA': 'INICIO_INTERRUPCAO',
    'EOOF_DT_FIM': 'FIM_INTERRUPCAO',
    'OPOF_DT_ENTRADA_PREVISTA': 'Data Prevista de Chegada',
    'OPOF_DT_SAIDA_PREVISTA': 'Data Prevista de Saída'
}

# Renomeando as colunas conforme o dicionário 
dfInt.rename(columns=nomeColunas, inplace=True)

In [49]:
# Remover espaços em branco antes e depois dos nomes nas colunas UEP e Navio
dfInt['UEP'] = dfInt['UEP'].str.strip()
dfInt['Navio'] = dfInt['Navio'].str.strip()

In [50]:
# Selecionar apenas as colunas necessárias do DataFrame dfInt
colunasSel = dfInt[['UEP', 'Viagem', 'Navio', 'Destino', 'TIPO_INTERRUPCAO', 'DURACAO_INTERRUPCAO', 'INICIO_INTERRUPCAO', 'FIM_INTERRUPCAO', 'Data Prevista de Chegada', 'Data Prevista de Saída']]

In [51]:
# Junção das bases de interrupções e NT
dfUni = pd.merge(df_final, colunasSel, on=['UEP', 'Viagem', 'Navio', 'Destino', 'Data Prevista de Chegada', 'Data Prevista de Saída'], how='left')
dfUni

,ID,Unidade Operativa,UEP,Navio,Volume Programado,Volume Retirado,Viagem,Destino,Data Prevista de Chegada,Data Prevista de Saída,Ocorrência,Início,Término,TIPO_INTERRUPCAO,DURACAO_INTERRUPCAO,INICIO_INTERRUPCAO,FIM_INTERRUPCAO
0,0,UN-BS,p- 67,FORTALEZA KNUTSEN,80000,81382.81,423 TA,T.B.N.,2022-04-27 12:00:00,2022-04-28 09:30:00,H.O.C.,2022-04-27 03:00:00,2022-04-27 09:04:00,NaN,NaN,NaT,NaT
1,0,UN-BS,p- 67,FORTALEZA KNUTSEN,80000,81382.81,423 TA,T.B.N.,2022-04-27 12:00:00,2022-04-28 09:30:00,Amarração,2022-04-27 09:04:00,2022-04-27 09:35:00,NaN,NaN,NaT,NaT
2,0,UN-BS,p- 67,FORTALEZA KNUTSEN,80000,81382.81,423 TA,T.B.N.,2022-04-27 12:00:00,2022-04-28 09:30:00,Conexão,2022-04-27 09:40:00,2022-04-27 10:11:00,NaN,NaN,NaT,NaT
3,0,UN-BS,p- 67,FORTALEZA KNUTSEN,80000,81382.81,423 TA,T.B.N.,2022-04-27 12:00:00,2022-04-28 09:30:00,Bombeio,2022-04-27 12:00:00,2022-04-28 07:00:00,NaN,NaN,NaT,NaT
4,0,UN-BS,p- 67,FORTALEZA KNUTSEN,80000,81382.81,423 TA,T.B.N.,2022-04-27 12:00:00,2022-04-28 09:30:00,Desconexão,2022-04-28 08:30:00,2022-04-28 08:55:00,NaN,NaN,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22661,3235,UN-BUZ,p- 76,ELKA LEBLON,80000,81372.15,402 TA,T.B.N.,2023-07-31 13:00:00,2023-08-01 18:00:00,Conexão,2023-07-31 16:30:00,2023-07-31 17:48:00,NaN,NaN,NaT,NaT
22662,3235,UN-BUZ,p- 76,ELKA LEBLON,80000,81372.15,402 TA,T.B.N.,2023-07-31 13:00:00,2023-08-01 18:00:00,Bombeio,2023-07-31 19:06:00,2023-08-01 12:42:00,NaN,NaN,NaT,NaT
22663,3235,UN-BUZ,p- 76,ELKA LEBLON,80000,81372.15,402 TA,T.B.N.,2023-07-31 13:00:00,2023-08-01 18:00:00,Desconexão,2023-08-01 14:48:00,2023-08-01 15:36:00,NaN,NaN,NaT,NaT
22664,3235,UN-BUZ,p- 76,ELKA LEBLON,80000,81372.15,402 TA,T.B.N.,2023-07-31 13:00:00,2023-08-01 18:00:00,Desamarração,2023-08-01 15:37:00,2023-08-01 16:12:00,NaN,NaN,NaT,NaT
22665,3235,UN-BUZ,p- 76,ELKA LEBLON,80000,81372.15,402 TA,T.B.N.,2023-07-31 13:00:00,2023-08-01 18:00:00,H.O.S.,2023-08-01 18:00:00,NaT,NaN,NaN,NaT,NaT

In [52]:
# Substituir valor da coluna 'TIPO_INTERRUPCAO' por 'Interrupção Bombeio' onde 'Ocorrência' contém 'Bombeio' e 'TIPO_INTERRUPCAO' = 'B005', caso contrário, substituir por ''
condicao_1 = (dfUni['Ocorrência'].str.contains('Bombeio')) & (dfUni['TIPO_INTERRUPCAO'] == 'B005')
dfUni.loc[condicao_1, 'TIPO_INTERRUPCAO'] = 'Interrupção Bombeio'
dfUni.loc[~condicao_1, 'TIPO_INTERRUPCAO'] = ''

# Manter valor da coluna 'DURACAO_INTERRUPCAO' onde 'Ocorrência' contém 'Bombeio' e 'DURACAO_INTERRUPCAO' > 0
condicao_2 = (dfUni['Ocorrência'].str.contains('Bombeio')) & (dfUni['DURACAO_INTERRUPCAO'] > 0)
dfUni.loc[condicao_2, 'DURACAO_INTERRUPCAO'] = dfUni.loc[condicao_2, 'DURACAO_INTERRUPCAO']
dfUni.loc[~condicao_2, 'TIPO_INTERRUPCAO'] = ''

# Manter valor da coluna 'INICIO_INTERRUPCAO' onde 'Ocorrência' contém 'Bombeio' e 'TIPO_INTERRUPCAO' = 'Interrupção Bombeio'
condicao_3 = (dfUni['Ocorrência'].str.contains('Bombeio')) & (dfUni['TIPO_INTERRUPCAO'] == 'Interrupção Bombeio')
dfUni.loc[condicao_3, 'INICIO_INTERRUPCAO'] = dfUni.loc[condicao_3, 'INICIO_INTERRUPCAO']
dfUni.loc[~condicao_3, 'TIPO_INTERRUPCAO'] = ''

# Manter valor da coluna 'FIM_INTERRUPCAO' onde 'Ocorrência' contém 'Bombeio' e 'TIPO_INTERRUPCAO' = 'Interrupção Bombeio'
condicao_4 = (dfUni['Ocorrência'].str.contains('Bombeio')) & (dfUni['TIPO_INTERRUPCAO'] == 'Interrupção Bombeio')
dfUni.loc[condicao_4, 'FIM_INTERRUPCAO'] = dfUni.loc[condicao_4, 'FIM_INTERRUPCAO']
dfUni.loc[~condicao_4, 'TIPO_INTERRUPCAO'] = ''

In [54]:
df_filtered = dfUni[dfUni['TIPO_INTERRUPCAO'].notna()]
df_resultado = pd.concat([dfUni, df_filtered], ignore_index=True)
df_resultado.reset_index(drop=True, inplace=True)
lista_remover = []
for i, row in df_resultado.iterrows():
    if i < len(df_resultado)-2:
        linha_atual = df_resultado.iloc[i]
        linha_seguinte = df_resultado.iloc[i+1]
        linha_seguinte_seguinte = df_resultado.iloc[i+2]
        if ((linha_atual['ID'] == linha_seguinte['ID'] and linha_atual['TIPO_INTERRUPCAO'] == "Interrupção Bombeio")) and ((linha_seguinte['ID'] == linha_seguinte_seguinte['ID'] and linha_seguinte['TIPO_INTERRUPCAO'] == "Interrupção Bombeio")):
            lista_remover.append(linha_seguinte_seguinte.name)

In [55]:
# Ordenar por ID e início
df_resultado.sort_values(by=['ID', 'Início','INICIO_INTERRUPCAO'], inplace=True)

In [56]:
import numpy as np

# Verificar se TIPO_INTERRUPCAO está vazio e substituir os valores das outras colunas
condicao = df_resultado['TIPO_INTERRUPCAO'] == ''
df_resultado.loc[condicao, ['DURACAO_INTERRUPCAO', 'INICIO_INTERRUPCAO', 'FIM_INTERRUPCAO']] = np.nan

# Substituir o início da interrupção pelo valor de início do bombeio onde necessário
df_resultado.loc[df_resultado['INICIO_INTERRUPCAO'] < df_resultado['Início'], 'INICIO_INTERRUPCAO'] = df_resultado['Início']

# Substituir o fim da interrupção pelo valor de fim do bombeio onde necessário
df_resultado.loc[df_resultado['FIM_INTERRUPCAO'] > df_resultado['Término'], 'FIM_INTERRUPCAO'] = df_resultado['Término']

In [57]:
# Verificar se TIPO_INTERRUPCAO de linhas consecutivas são iguais a "Interrupção Bombeio"
condicao_1 = (df_resultado['TIPO_INTERRUPCAO'].shift() == 'Interrupção Bombeio') & (df_resultado['TIPO_INTERRUPCAO'] == 'Interrupção Bombeio')
# Verificar se DURACAO_INTERRUPCAO de linhas consecutivas são diferentes
condicao_2 = (df_resultado['TIPO_INTERRUPCAO'].shift() == 'Interrupção Bombeio') & (df_resultado['TIPO_INTERRUPCAO'] == 'Interrupção Bombeio') & (df_resultado['DURACAO_INTERRUPCAO'].shift() != df_resultado['DURACAO_INTERRUPCAO'])
# Atualizar as datas conforme as condições especificadas
df_resultado.loc[condicao_1, 'Término'] = df_resultado['INICIO_INTERRUPCAO'].shift(-1)
df_resultado.loc[condicao_1, 'Início'] = df_resultado['FIM_INTERRUPCAO']
df_resultado.loc[condicao_2, 'Início'] = df_resultado['FIM_INTERRUPCAO']

In [58]:
for indice,linha in df_resultado.iterrows():
    if linha['Início'] == linha['Término']:
       df_resultado.drop(index=indice)

In [62]:
# - Para a ocorrência H.O.S. trocar os términos que estão vazios pelos inícios, pois o H.O.S. é sempre instantâneo.
for index,linha in df_resultado.iterrows():
    if linha['Ocorrência'] == "H.O.S.":
        if type(df_resultado.loc[index,'Término']) == pd._libs.tslibs.nattype.NaTType:
            df_resultado['Término'][index] = df_resultado["Início"][index]

In [61]:
#Base concatenada de navios tanque dos anos 2022 e 2023
df_final.describe().round(2)

,ID,Volume Programado,Volume Retirado,Data Prevista de Chegada,Data Prevista de Saída,Início,Término
count,22547.00,22547.00,22547.00,22547,22547,22547,22546
mean,1617.46,80730.05,80264.97,2022-10-16 06:24:51.638000640,2022-10-17 16:32:53.053089024,2022-10-16 23:49:11.229875200,2022-10-16 23:10:35.665750016
min,0.00,2000.00,1990.10,2022-01-01 00:01:00,2022-01-01 23:30:00,2022-01-01 00:01:00,2022-01-01 00:01:00
25%,806.00,70000.00,70092.00,2022-05-24 00:00:00,2022-05-25 12:10:00,2022-05-24 16:35:00,2022-05-24 16:11:45
50%,1620.00,79400.00,78943.54,2022-10-14 00:00:00,2022-10-15 09:34:00,2022-10-14 23:18:00,2022-10-14 22:58:30
75%,2427.00,86000.00,85689.25,2023-03-09 12:00:00,2023-03-10 01:24:00,2023-03-09 13:10:30,2023-03-09 12:39:15
max,3235.00,166000.00,170507.00,2023-07-31 13:00:00,2023-08-01 18:00:00,2023-08-01 18:00:00,2023-08-01 16:48:00
std,934.80,30076.83,30275.22,NaN,NaN,NaN,NaN