## Tratamento Navios Tanque Completo

### Tratamentos Iniciais

In [107]:
import pm4py
import pandas as pd
from unidecode import unidecode
import string
import datetime

In [108]:
# - Bases: ‘Relatório_NT_2023.xlsx’ e Relatório_NT_2022.xlsx’
# - Concatenar as duas bases

navioTanque1 = pd.read_excel("Arquivos\\Relatorio_NT_2022.xlsx")
navioTanque2 = pd.read_excel("Arquivos\\Relatorio_NT_2023.xlsx")

# Concatena os DataFrames
df_concatenado = pd.concat([navioTanque1, navioTanque2], ignore_index=True)

# Escreve o DataFrame concatenado em um novo arquivo Excel
df_concatenado.to_excel("Arquivos\\navios_concatenado.xlsx", index=False)
len(df_concatenado)

3285

In [109]:
# Remover acentos e substituir caracteres especiais
df_concatenado = df_concatenado.map(lambda x: unidecode(str(x)) if isinstance(x, str) else x)
len(df_concatenado)

3285

In [110]:
lFormatDate = ['Data Prevista de Chegada', 'Data Prevista de Saída', 
'H.O.C.', 'Amarração','Início de Bombeio', 'Fim de Bombeio', 'Desamarração', 'H.O.S.', 'Início Primeira Amarração','Fim Primeira Amarração','Início Primeira Conexão','Fim Primeira Conexão',
'Início Primeiro Bombeio','Fim Último Bombeio','Início Última Desconexão','Fim Última Desconexão','Início Última Desamarração','Fim Última Desamarração']

for coluna in lFormatDate:
    df_concatenado[coluna] = pd.to_datetime(df_concatenado[coluna], dayfirst=True)

print(len(df_concatenado))

3285

In [111]:
df_concatenado.reset_index()
for indice, linha in df_concatenado.iterrows():
    df_concatenado.at[indice, 'TNP_Amarracao_Conexao'] = (linha['Início Primeira Conexão'] - linha['Fim Primeira Amarração']).total_seconds() / (60 * 60)
    df_concatenado.at[indice, 'TNP_Bombeio_Desconexao'] = (linha['Início Última Desconexão'] - linha['Fim Último Bombeio']).total_seconds() / (60 * 60)
    df_concatenado.at[indice, 'TNP_H.O.C_Amarracao'] = (linha['Amarração'] - linha['H.O.C.']).total_seconds() / (60 * 60)
    df_concatenado.at[indice, 'TNP_Conexao_Bombeio'] = (linha['Início Primeiro Bombeio'] - linha['Fim Primeira Conexão']).total_seconds() / (60 * 60)
    df_concatenado.at[indice, 'TNP_Desamarracao_HOS'] = (linha['H.O.S.'] - linha['Fim Última Desamarração']).total_seconds() / (60 * 60)

df_concatenado

,Unidade Operativa,Instalação Naval,Navio,Volume Programado,Data Prevista de Chegada,Data Prevista de Saída,Viagem,Destino,H.O.C.,Amarração,...,Hora Top,Alívio Crítico,Apuração Alívio Crítico,Volume Acumulado Perdas,Lifter,TNP_Amarracao_Conexao,TNP_Bombeio_Desconexao,TNP_H.O.C_Amarracao,TNP_Conexao_Bombeio,TNP_Desamarracao_HOS
0,UN-BS,PETROBRAS 67,FORTALEZA KNUTSEN,80000,2022-04-27 12:00:00,2022-04-28 09:30:00,423 TA,T.B.N.,2022-04-27 03:00:00,2022-04-27 09:04:00,...,28/04/2022 12:43:00,48h,NaN,0,NaN,0.083333,1.500000,6.066667,1.816667,0.166667
1,BUZIOS,PETROBRAS 77,EAGLE PAULINIA,80000,2022-07-25 12:00:00,2022-07-26 12:30:00,102 TA,T.B.N.,2022-07-25 12:00:00,2022-07-25 15:12:00,...,26/07/2022 21:32:14,48h,NaN,0,NaN,0.300000,1.800000,3.200000,2.050000,0.333333
2,UN-BS,FPSO Cidade de Saquarema,DAN SABIA,60000,2022-05-11 12:00:00,2022-05-12 11:00:00,315 TA,T.B.N.,2022-05-11 08:30:00,2022-05-11 15:40:00,...,14/05/2022 23:27:00,OK,NaN,0,NaN,0.250000,1.933333,7.166667,2.500000,1.166667
3,UN-ES,FSO Cidade de Macae - MV15,TOVE KNUTSEN,80000,2022-05-11 14:00:00,2022-05-12 16:00:00,-,CARGA EQUINOR,2022-05-11 06:00:00,2022-05-11 15:00:00,...,18/07/2022 13:02:04,OK,NaN,0,NaN,0.016667,3.000000,9.000000,1.133333,0.200000
4,UN-ES,FSO Cidade de Macae - MV15,TOVE KNUTSEN,80000,2022-05-11 14:00:00,2022-05-12 16:00:00,-,CARGA EQUINOR,2022-05-11 06:00:00,2022-05-11 15:00:00,...,18/07/2022 13:02:04,OK,NaN,0,NaN,0.016667,3.000000,9.000000,1.133333,0.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3280,UN-BS,PETROBRAS 66,NT LISBOA,76000,2023-07-31 00:00:00,2023-08-01 04:06:00,PG043,CARGA PETROGAL,2023-07-30 00:01:00,2023-07-31 01:00:00,...,02/08/2023 02:57:57,OK,NaN,0,NaN,0.016667,1.300000,24.983333,3.000000,0.500000
3281,UN-ES,FSO Cidade de Macae - MV15,EAGLE CAMBE,151000,2023-07-31 03:01:00,2023-08-01 15:23:45,055 TA,T.B.N.,2023-07-30 20:00:00,2023-07-30 23:32:00,...,01/08/2023 21:08:55,OK,NaN,0,NaN,0.200000,2.383333,3.533333,1.333333,0.333333
3282,UN-ES,PETROBRAS 58,ANGRA DOS REIS,70000,2023-07-31 08:00:00,2023-08-01 16:00:00,429 TA,T.B.N.,2023-07-31 14:00:00,2023-07-31 19:20:00,...,04/08/2023 20:09:04,OK,NaN,0,NaN,0.166667,0.666667,5.333333,1.583333,0.166667
3283,UN-BS,FPSO Cidade de Marica,EAGLE PAULINIA,155000,2023-07-31 08:00:00,2023-08-01 16:55:00,155 TA,T.B.N.,2023-07-31 09:00:00,2023-07-31 12:25:00,...,02/08/2023 15:27:49,OK,NaN,0,NaN,0.166667,0.833333,3.416667,2.000000,0.116667
3284,UN-BUZ,PETROBRAS 76,ELKA LEBLON,80000,2023-07-31 13:00:00,2023-08-01 18:00:00,402 TA,T.B.N.,2023-07-31 11:30:00,2023-07-31 15:13:00,...,02/08/2023 13:09:23,OK,NaN,0,NaN,0.050000,2.100000,3.716667,1.300000,1.800000

In [112]:
df_concatenado.drop(columns=["Classe do Navio","Rebocador","Hora Top","Alívio Crítico","Apuração Alívio Crítico","Volume Acumulado Perdas","Lifter"])
df_concatenado

,Unidade Operativa,Instalação Naval,Navio,Volume Programado,Data Prevista de Chegada,Data Prevista de Saída,Viagem,Destino,H.O.C.,Amarração,...,Hora Top,Alívio Crítico,Apuração Alívio Crítico,Volume Acumulado Perdas,Lifter,TNP_Amarracao_Conexao,TNP_Bombeio_Desconexao,TNP_H.O.C_Amarracao,TNP_Conexao_Bombeio,TNP_Desamarracao_HOS
0,UN-BS,PETROBRAS 67,FORTALEZA KNUTSEN,80000,2022-04-27 12:00:00,2022-04-28 09:30:00,423 TA,T.B.N.,2022-04-27 03:00:00,2022-04-27 09:04:00,...,28/04/2022 12:43:00,48h,NaN,0,NaN,0.083333,1.500000,6.066667,1.816667,0.166667
1,BUZIOS,PETROBRAS 77,EAGLE PAULINIA,80000,2022-07-25 12:00:00,2022-07-26 12:30:00,102 TA,T.B.N.,2022-07-25 12:00:00,2022-07-25 15:12:00,...,26/07/2022 21:32:14,48h,NaN,0,NaN,0.300000,1.800000,3.200000,2.050000,0.333333
2,UN-BS,FPSO Cidade de Saquarema,DAN SABIA,60000,2022-05-11 12:00:00,2022-05-12 11:00:00,315 TA,T.B.N.,2022-05-11 08:30:00,2022-05-11 15:40:00,...,14/05/2022 23:27:00,OK,NaN,0,NaN,0.250000,1.933333,7.166667,2.500000,1.166667
3,UN-ES,FSO Cidade de Macae - MV15,TOVE KNUTSEN,80000,2022-05-11 14:00:00,2022-05-12 16:00:00,-,CARGA EQUINOR,2022-05-11 06:00:00,2022-05-11 15:00:00,...,18/07/2022 13:02:04,OK,NaN,0,NaN,0.016667,3.000000,9.000000,1.133333,0.200000
4,UN-ES,FSO Cidade de Macae - MV15,TOVE KNUTSEN,80000,2022-05-11 14:00:00,2022-05-12 16:00:00,-,CARGA EQUINOR,2022-05-11 06:00:00,2022-05-11 15:00:00,...,18/07/2022 13:02:04,OK,NaN,0,NaN,0.016667,3.000000,9.000000,1.133333,0.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3280,UN-BS,PETROBRAS 66,NT LISBOA,76000,2023-07-31 00:00:00,2023-08-01 04:06:00,PG043,CARGA PETROGAL,2023-07-30 00:01:00,2023-07-31 01:00:00,...,02/08/2023 02:57:57,OK,NaN,0,NaN,0.016667,1.300000,24.983333,3.000000,0.500000
3281,UN-ES,FSO Cidade de Macae - MV15,EAGLE CAMBE,151000,2023-07-31 03:01:00,2023-08-01 15:23:45,055 TA,T.B.N.,2023-07-30 20:00:00,2023-07-30 23:32:00,...,01/08/2023 21:08:55,OK,NaN,0,NaN,0.200000,2.383333,3.533333,1.333333,0.333333
3282,UN-ES,PETROBRAS 58,ANGRA DOS REIS,70000,2023-07-31 08:00:00,2023-08-01 16:00:00,429 TA,T.B.N.,2023-07-31 14:00:00,2023-07-31 19:20:00,...,04/08/2023 20:09:04,OK,NaN,0,NaN,0.166667,0.666667,5.333333,1.583333,0.166667
3283,UN-BS,FPSO Cidade de Marica,EAGLE PAULINIA,155000,2023-07-31 08:00:00,2023-08-01 16:55:00,155 TA,T.B.N.,2023-07-31 09:00:00,2023-07-31 12:25:00,...,02/08/2023 15:27:49,OK,NaN,0,NaN,0.166667,0.833333,3.416667,2.000000,0.116667
3284,UN-BUZ,PETROBRAS 76,ELKA LEBLON,80000,2023-07-31 13:00:00,2023-08-01 18:00:00,402 TA,T.B.N.,2023-07-31 11:30:00,2023-07-31 15:13:00,...,02/08/2023 13:09:23,OK,NaN,0,NaN,0.050000,2.100000,3.716667,1.300000,1.800000

In [113]:
df_concatenado = df_concatenado.drop_duplicates()
df_concatenado

,Unidade Operativa,Instalação Naval,Navio,Volume Programado,Data Prevista de Chegada,Data Prevista de Saída,Viagem,Destino,H.O.C.,Amarração,...,Hora Top,Alívio Crítico,Apuração Alívio Crítico,Volume Acumulado Perdas,Lifter,TNP_Amarracao_Conexao,TNP_Bombeio_Desconexao,TNP_H.O.C_Amarracao,TNP_Conexao_Bombeio,TNP_Desamarracao_HOS
0,UN-BS,PETROBRAS 67,FORTALEZA KNUTSEN,80000,2022-04-27 12:00:00,2022-04-28 09:30:00,423 TA,T.B.N.,2022-04-27 03:00:00,2022-04-27 09:04:00,...,28/04/2022 12:43:00,48h,NaN,0,NaN,0.083333,1.500000,6.066667,1.816667,0.166667
1,BUZIOS,PETROBRAS 77,EAGLE PAULINIA,80000,2022-07-25 12:00:00,2022-07-26 12:30:00,102 TA,T.B.N.,2022-07-25 12:00:00,2022-07-25 15:12:00,...,26/07/2022 21:32:14,48h,NaN,0,NaN,0.300000,1.800000,3.200000,2.050000,0.333333
2,UN-BS,FPSO Cidade de Saquarema,DAN SABIA,60000,2022-05-11 12:00:00,2022-05-12 11:00:00,315 TA,T.B.N.,2022-05-11 08:30:00,2022-05-11 15:40:00,...,14/05/2022 23:27:00,OK,NaN,0,NaN,0.250000,1.933333,7.166667,2.500000,1.166667
3,UN-ES,FSO Cidade de Macae - MV15,TOVE KNUTSEN,80000,2022-05-11 14:00:00,2022-05-12 16:00:00,-,CARGA EQUINOR,2022-05-11 06:00:00,2022-05-11 15:00:00,...,18/07/2022 13:02:04,OK,NaN,0,NaN,0.016667,3.000000,9.000000,1.133333,0.200000
5,UN-BS,FPSO Cidade de Ilhabela,EAGLE CAMPOS,79100,2022-05-11 00:00:00,2022-05-12 12:18:00,SH121,CARGA SHELL,2022-05-11 06:00:00,2022-05-11 15:56:00,...,13/05/2022 10:26:50,OK,NaN,0,NaN,0.250000,2.583333,9.933333,1.733333,0.150000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3280,UN-BS,PETROBRAS 66,NT LISBOA,76000,2023-07-31 00:00:00,2023-08-01 04:06:00,PG043,CARGA PETROGAL,2023-07-30 00:01:00,2023-07-31 01:00:00,...,02/08/2023 02:57:57,OK,NaN,0,NaN,0.016667,1.300000,24.983333,3.000000,0.500000
3281,UN-ES,FSO Cidade de Macae - MV15,EAGLE CAMBE,151000,2023-07-31 03:01:00,2023-08-01 15:23:45,055 TA,T.B.N.,2023-07-30 20:00:00,2023-07-30 23:32:00,...,01/08/2023 21:08:55,OK,NaN,0,NaN,0.200000,2.383333,3.533333,1.333333,0.333333
3282,UN-ES,PETROBRAS 58,ANGRA DOS REIS,70000,2023-07-31 08:00:00,2023-08-01 16:00:00,429 TA,T.B.N.,2023-07-31 14:00:00,2023-07-31 19:20:00,...,04/08/2023 20:09:04,OK,NaN,0,NaN,0.166667,0.666667,5.333333,1.583333,0.166667
3283,UN-BS,FPSO Cidade de Marica,EAGLE PAULINIA,155000,2023-07-31 08:00:00,2023-08-01 16:55:00,155 TA,T.B.N.,2023-07-31 09:00:00,2023-07-31 12:25:00,...,02/08/2023 15:27:49,OK,NaN,0,NaN,0.166667,0.833333,3.416667,2.000000,0.116667
3284,UN-BUZ,PETROBRAS 76,ELKA LEBLON,80000,2023-07-31 13:00:00,2023-08-01 18:00:00,402 TA,T.B.N.,2023-07-31 11:30:00,2023-07-31 15:13:00,...,02/08/2023 13:09:23,OK,NaN,0,NaN,0.050000,2.100000,3.716667,1.300000,1.800000

In [114]:
# Criando a coluna ID
df_concatenado['ID'] = range(0, len(df_concatenado))
columns = ['ID'] + [colunas for colunas in df_concatenado.columns if colunas != 'ID']
df_concatenado = df_concatenado[columns]
df_concatenado

C:\Users\betsabenogueira\AppData\Local\Temp\ipykernel_6112\2878712154.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_concatenado['ID'] = range(0, len(df_concatenado))

,ID,Unidade Operativa,Instalação Naval,Navio,Volume Programado,Data Prevista de Chegada,Data Prevista de Saída,Viagem,Destino,H.O.C.,...,Hora Top,Alívio Crítico,Apuração Alívio Crítico,Volume Acumulado Perdas,Lifter,TNP_Amarracao_Conexao,TNP_Bombeio_Desconexao,TNP_H.O.C_Amarracao,TNP_Conexao_Bombeio,TNP_Desamarracao_HOS
0,0,UN-BS,PETROBRAS 67,FORTALEZA KNUTSEN,80000,2022-04-27 12:00:00,2022-04-28 09:30:00,423 TA,T.B.N.,2022-04-27 03:00:00,...,28/04/2022 12:43:00,48h,NaN,0,NaN,0.083333,1.500000,6.066667,1.816667,0.166667
1,1,BUZIOS,PETROBRAS 77,EAGLE PAULINIA,80000,2022-07-25 12:00:00,2022-07-26 12:30:00,102 TA,T.B.N.,2022-07-25 12:00:00,...,26/07/2022 21:32:14,48h,NaN,0,NaN,0.300000,1.800000,3.200000,2.050000,0.333333
2,2,UN-BS,FPSO Cidade de Saquarema,DAN SABIA,60000,2022-05-11 12:00:00,2022-05-12 11:00:00,315 TA,T.B.N.,2022-05-11 08:30:00,...,14/05/2022 23:27:00,OK,NaN,0,NaN,0.250000,1.933333,7.166667,2.500000,1.166667
3,3,UN-ES,FSO Cidade de Macae - MV15,TOVE KNUTSEN,80000,2022-05-11 14:00:00,2022-05-12 16:00:00,-,CARGA EQUINOR,2022-05-11 06:00:00,...,18/07/2022 13:02:04,OK,NaN,0,NaN,0.016667,3.000000,9.000000,1.133333,0.200000
5,4,UN-BS,FPSO Cidade de Ilhabela,EAGLE CAMPOS,79100,2022-05-11 00:00:00,2022-05-12 12:18:00,SH121,CARGA SHELL,2022-05-11 06:00:00,...,13/05/2022 10:26:50,OK,NaN,0,NaN,0.250000,2.583333,9.933333,1.733333,0.150000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3280,3231,UN-BS,PETROBRAS 66,NT LISBOA,76000,2023-07-31 00:00:00,2023-08-01 04:06:00,PG043,CARGA PETROGAL,2023-07-30 00:01:00,...,02/08/2023 02:57:57,OK,NaN,0,NaN,0.016667,1.300000,24.983333,3.000000,0.500000
3281,3232,UN-ES,FSO Cidade de Macae - MV15,EAGLE CAMBE,151000,2023-07-31 03:01:00,2023-08-01 15:23:45,055 TA,T.B.N.,2023-07-30 20:00:00,...,01/08/2023 21:08:55,OK,NaN,0,NaN,0.200000,2.383333,3.533333,1.333333,0.333333
3282,3233,UN-ES,PETROBRAS 58,ANGRA DOS REIS,70000,2023-07-31 08:00:00,2023-08-01 16:00:00,429 TA,T.B.N.,2023-07-31 14:00:00,...,04/08/2023 20:09:04,OK,NaN,0,NaN,0.166667,0.666667,5.333333,1.583333,0.166667
3283,3234,UN-BS,FPSO Cidade de Marica,EAGLE PAULINIA,155000,2023-07-31 08:00:00,2023-08-01 16:55:00,155 TA,T.B.N.,2023-07-31 09:00:00,...,02/08/2023 15:27:49,OK,NaN,0,NaN,0.166667,0.833333,3.416667,2.000000,0.116667
3284,3235,UN-BUZ,PETROBRAS 76,ELKA LEBLON,80000,2023-07-31 13:00:00,2023-08-01 18:00:00,402 TA,T.B.N.,2023-07-31 11:30:00,...,02/08/2023 13:09:23,OK,NaN,0,NaN,0.050000,2.100000,3.716667,1.300000,1.800000

In [115]:
# Trocar "PETROBRAS" por "p-"
for index, linha in df_concatenado.iterrows():
    novaPalavra = df_concatenado.loc[index,"Instalação Naval"].replace("PETROBRAS","p-")
    df_concatenado.loc[index,"UEP"] = novaPalavra
    
df_concatenado

C:\Users\betsabenogueira\AppData\Local\Temp\ipykernel_6112\3645134185.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_concatenado.loc[index,"UEP"] = novaPalavra

,ID,Unidade Operativa,Instalação Naval,Navio,Volume Programado,Data Prevista de Chegada,Data Prevista de Saída,Viagem,Destino,H.O.C.,...,Alívio Crítico,Apuração Alívio Crítico,Volume Acumulado Perdas,Lifter,TNP_Amarracao_Conexao,TNP_Bombeio_Desconexao,TNP_H.O.C_Amarracao,TNP_Conexao_Bombeio,TNP_Desamarracao_HOS,UEP
0,0,UN-BS,PETROBRAS 67,FORTALEZA KNUTSEN,80000,2022-04-27 12:00:00,2022-04-28 09:30:00,423 TA,T.B.N.,2022-04-27 03:00:00,...,48h,NaN,0,NaN,0.083333,1.500000,6.066667,1.816667,0.166667,p- 67
1,1,BUZIOS,PETROBRAS 77,EAGLE PAULINIA,80000,2022-07-25 12:00:00,2022-07-26 12:30:00,102 TA,T.B.N.,2022-07-25 12:00:00,...,48h,NaN,0,NaN,0.300000,1.800000,3.200000,2.050000,0.333333,p- 77
2,2,UN-BS,FPSO Cidade de Saquarema,DAN SABIA,60000,2022-05-11 12:00:00,2022-05-12 11:00:00,315 TA,T.B.N.,2022-05-11 08:30:00,...,OK,NaN,0,NaN,0.250000,1.933333,7.166667,2.500000,1.166667,FPSO Cidade de Saquarema
3,3,UN-ES,FSO Cidade de Macae - MV15,TOVE KNUTSEN,80000,2022-05-11 14:00:00,2022-05-12 16:00:00,-,CARGA EQUINOR,2022-05-11 06:00:00,...,OK,NaN,0,NaN,0.016667,3.000000,9.000000,1.133333,0.200000,FSO Cidade de Macae - MV15
5,4,UN-BS,FPSO Cidade de Ilhabela,EAGLE CAMPOS,79100,2022-05-11 00:00:00,2022-05-12 12:18:00,SH121,CARGA SHELL,2022-05-11 06:00:00,...,OK,NaN,0,NaN,0.250000,2.583333,9.933333,1.733333,0.150000,FPSO Cidade de Ilhabela
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3280,3231,UN-BS,PETROBRAS 66,NT LISBOA,76000,2023-07-31 00:00:00,2023-08-01 04:06:00,PG043,CARGA PETROGAL,2023-07-30 00:01:00,...,OK,NaN,0,NaN,0.016667,1.300000,24.983333,3.000000,0.500000,p- 66
3281,3232,UN-ES,FSO Cidade de Macae - MV15,EAGLE CAMBE,151000,2023-07-31 03:01:00,2023-08-01 15:23:45,055 TA,T.B.N.,2023-07-30 20:00:00,...,OK,NaN,0,NaN,0.200000,2.383333,3.533333,1.333333,0.333333,FSO Cidade de Macae - MV15
3282,3233,UN-ES,PETROBRAS 58,ANGRA DOS REIS,70000,2023-07-31 08:00:00,2023-08-01 16:00:00,429 TA,T.B.N.,2023-07-31 14:00:00,...,OK,NaN,0,NaN,0.166667,0.666667,5.333333,1.583333,0.166667,p- 58
3283,3234,UN-BS,FPSO Cidade de Marica,EAGLE PAULINIA,155000,2023-07-31 08:00:00,2023-08-01 16:55:00,155 TA,T.B.N.,2023-07-31 09:00:00,...,OK,NaN,0,NaN,0.166667,0.833333,3.416667,2.000000,0.116667,FPSO Cidade de Marica
3284,3235,UN-BUZ,PETROBRAS 76,ELKA LEBLON,80000,2023-07-31 13:00:00,2023-08-01 18:00:00,402 TA,T.B.N.,2023-07-31 11:30:00,...,OK,NaN,0,NaN,0.050000,2.100000,3.716667,1.300000,1.800000,p- 76

In [116]:
# - Retirando o espaço antes e no final dos nomes nas colunas UEP e Navio (pois existiam espaços aleatórios que impediriam a comparação com as outras bases).
df_concatenado.loc[:,"UEP"] = df_concatenado.loc[:,"UEP"].str.strip()
df_concatenado.loc[:,"Navio"] = df_concatenado.loc[:,"Navio"].str.strip()

In [117]:
# NOVO - Excluir os casos em que o Início da Ocorrência seguinte é menor do que o Fim da Ocorrência anterior

In [118]:
print(len(df_concatenado.columns))

49

In [119]:
# - Remover as colunas que não são importantes no momento (“Classe do Navio”, “Rebocador”, “Hora Top”, “Alívio Crítico”, “Apuração Alívio Crítico”, “Volume Acumulado Perdas”, “Lifter”) 
df_concatenado = df_concatenado.drop(columns=["Classe do Navio","Rebocador","Hora Top","Alívio Crítico","Apuração Alívio Crítico","Volume Acumulado Perdas","Lifter"])
print(len(df_concatenado.columns))

42

In [120]:
print(len(df_concatenado))

3236

In [105]:
# - Percebemos durante nossas análises que temos H.O.C repetidos e muito distantes da Amarração - isso ocorre devido a erros de preenchimento (repetiram o mesmo HOC pra viagens diferentes de um mesmo navio e plataforma) -> Considerar coluna “H.O.C”= coluna “Data Prevista de Chegada” quando o Tempo_entre_previsto_chegada >= 48horas (2 dias)
df_concatenado['Tempo_entre_previsto_chegada'] = df_concatenado['H.O.C.'] - df_concatenado['Data Prevista de Chegada']

for i, el in df_concatenado.iterrows():
    delta = el['Tempo_entre_previsto_chegada']
    maximo = pd.Timedelta('2 days')
    if delta >= maximo:
        print(i)
        df_concatenado.loc[i,'H.O.C.'] = el['Data Prevista de Chegada']

In [90]:
print(len(df_concatenado))

3236